/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.fresh-orange {
  color: #F46036 !important;
}

.desert-yellow {
  background-color: #FFBE57 !important;
}

.deep-green {
  color: #074F57 !important;
}