
{% load staticfiles %}
<head>
	<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/ajax.js' %}"></script>
</head>

{% if students.number > 0 %}




<table style="width:50%">
  <tr>
    <th>BITS ID</th>
    <th>Name</th>
    <th></th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{ student.bitsId }}</td>
    <td>{{ student.name }}</td>
    <td></td>
  </tr>
  {% endfor %}
</table> 



{% else %}

<h3>Nothing to show!</h3>


{% endif %}