{% extends 'indexbase.html' %} {% block content %}

<div class="container">
  <p align="center" style="font-size:36px; color:#000066"><b>Anti Ragging</b></p>
  <div class="section" style="text-align: center">
    {% for document in queryset %}
    <div><a class="waves-effect waves-light btn desert-yellow " href="{{ document.link }}">{{ document.title }}</a>
    </div><br>
    {% endfor %}
  </div>
  <br><br>
</div>

<style>
  .heading {
    font-size: 37px;
    color: #F46036;
  }

  @media screen and (max-width: 800px) {
    .heading {
      font-size: 20px;
      top: 70px;
    }
</style>

{% endblock %}