{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024">
    <title>SWD BITS Goa</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;Student Welfare Division</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class=""><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="/media/{{ student.profile_picture }}">&nbsp;{{ student.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="/media/{{ student.profile_picture }}">&nbsp;{{ student.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <style>
                .profileImg {
                    max-width: 35px;
                    height:auto
                }
            </style>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                {% load main_extras %}
                <li class="tab"><a href="/dashboard" class="{% active_page request 'dashboard' %}" target="_self">Dashboard</a></li>
                {% if not student.nophd %}<li class="tab"><a href="/messoption" class="{% active_page request 'messoption' %}" target="_self">Mess Option</a></li>{% endif %}
                {% if not student.nophd %}<li class="tab"><a href="/leave"  class="{% active_page request 'leave' %}" target="_self">Leave</a></li>{% endif %}
                <li class="tab"><a href="/certificates" class="{% active_page request 'certificates' %}" target="_self">Certificates</a></li>
                <li class="tab"><a href="/daypass" class="{% active_page request 'daypass' %}" target="_self">Daypass</a></li>
                <li class="tab"><a href="/store" class="{% active_page request 'store' %}" target="_self">Store</a></li>
                <li class="tab"><a href="/dues" class="{% active_page request 'dues' %}" target="_self">Dues</a></li>
                <li class="tab"><a href="/documents" class="{% active_page request 'documents' %}" target="_self">Documents</a></li>
            </ul>
        </div>
    </nav>
    {% comment %} <nav class="" role="navigation">
        <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"></a>
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="/profile"><i class="material-icons">person_outline</i>Profile</a></li>
                <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">&nbsp;&nbsp;&nbsp;&nbsp;Settings<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav> {% endcomment %}
    <div class="section no-pad-bot" id="index-banner">
    </div>
    {% comment %} <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{% static 'img/office.jpg' %}">
                </div>
                <a href="#!user"><img class="circle" src="/media/{{ student.profile_picture }}"></a>
                <a href="#!name"><span class="white-text name">{{ student.name|title }}</span></a>
                <a href="#!email"><span class="white-text email">{{ student.bitsId }}</span></a>
            </div>
        </li>
         {% load main_extras %}
        <li class="{% active_page request 'dashboard' %}"><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
        {% if not student.nophd %}<li class="{% active_page request 'messoption' %}"><a href="/messoption"><i class="material-icons">local_dining</i>Mess Option</a></li>{% endif %}
        {% if not student.nophd %}<li class="{% active_page request 'leave' %}"><a href="/leave"><i class="material-icons">flight_takeoff</i>Leave</a></li>{% endif %}
        <li class="{% active_page request 'certificates' %}"><a href="/certificates"><i class="material-icons">assignment</i>Certificates</a></li>
        <li>
            <div class="divider"></div>
        </li>
    </ul> {% endcomment %}
{% block content %}
{% endblock %}

    <!-- <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">SWD</h5>
                    <p class="grey-text text-lighten-4">Student Welfare Division</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">OSDLabs</a>
            </div>
        </div>
    </footer> -->
    <!--  Scripts-->

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });

        // var yesterday = new Date((new Date()).valueOf()-1000*60*60*24);

        $('.datepicker').pickadate({
            // disable: [
            //     { from: [0,0,0], to: yesterday }
            // ],
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 5, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });

        $('.timepicker').pickatime({
            default: 'now', // Set default time: 'now', '1:30AM', '16:30'
            fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
            twelvehour: false, // Use AM/PM or 24-hour format
            donetext: 'OK', // text for done-button
            cleartext: 'Clear', // text for clear-button
            canceltext: 'Cancel', // Text for cancel-button
            autoclose: false, // automatic close timepicker
            ampmclickable: true, // make AM PM clickable
            aftershow: function () { } //Function for after opening timepicker
        });

    </script>

</body>

</html>

            <!-- #User Info -->
            <!-- Menu -->
            <!-- <div class="menu">
                {% load main_extras %}
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="{% active_page request 'dashboard' %}">
                    <a href="/dashboard">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                        <li class="{% active_page request 'profile' %}">
                            <a href="/profile">
                            <i class="material-icons">text_fields</i>
                            <span>Profile</span>
                        </a>
                        </li>
                        <li class="{% active_page request 'messoption' %}">
                            <a href="/messoption">
                            <i class="material-icons">layers</i>
                            <span>Mess Option</span>
                        </a>
                        </li>
                        <li class="{% active_page request 'leave' %}">
                            <a href="/leave">
                            <i class="material-icons">text_fields</i>
                            <span>Leave</span>
                        </a>
                        </li>
                        <li class="{% active_page request 'certificates' %}">
                            <a href="/certificates">
                            <i class="material-icons">layers</i>
                            <span>Certificates</span>
                        </a>
                        </li>
                </ul>
            </div> -->
