{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bonafide Certificate</title>
<style type="text/css" media="print">
@page {
    size: auto;   
    margin: 0; 
}
</style>
<style>
div.container3 {
  height: 10;
  position: relative 
  }
div.container3 p {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%) } 
    body {
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    }
#letterhead{
  line-height:0.1;
}
#footer{
  position:absolute;
  bottom:0;
  width: 595px;
    margin-left: auto;
    margin-right: auto;
}
}
</style> 
<div id="letterhead">
  <img src="{% static 'img/bonafide_header.png' %}" width=595px>
</div>
<hr>
</head>
<body bgcolor="white">
<div id="content" >
    <div class="top">
        <h3 class="ref" align="left">SWD/CERT/{{ id }}</h3>
        <h3 class="date" align="right">{{ date }}</h3>
    </div>
    <h1 align="center">CERTIFICATE</h1>
    <p>
      {{ text | linebreaks }}
    </p> 
</div>
<div id="footer">
  <img src="{% static 'img/bonafide_footer.png' %}"  width=595px >
</div>  
</body>
</html>