<!DOCTYPE html>
<html lang="en">
<head>
<title>Bonafide Certificate</title>
<style type="text/css" media="print">
@page {
    size: auto;   
    margin: 0; 
}
</style>
<style>
div.container3 {
  height: 10;
  position: relative 
  }
div.container3 p {
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%) } 
    body {
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
    }
#letterhead{
  line-height:0.1;
}
#footer{
  position:absolute;
  bottom:0;
  width: 595px;
    margin-left: auto;
    margin-right: auto;
}
}
</style> 
<div id="letterhead">
  <h3 align=center >
    Birla Institute of Technology and Science-Pilani
  </h3>
  <div id="adress">
    <h3 align=center>
      K.K Birla Goa Campus
    </h3>
    <h4 align=center>
      Zuarinagar, Goa 403726, India
    </h4>
  </div>
</div>
<hr>
</head>
<body bgcolor="white">
<div id="content" >
    <div class="top">
        <h3 class="ref" align="left">SWD/CERT/{{ id }}</h3>
        <h3 class="date" align="right">{{ date }}</h3>
    </div>
    <h1 align="center">CERTIFICATE</h1>
    <p>
      {{ text | linebreaks }}
    </p> 
</div>
<div id="footer">
<h6 align="center">
BIRLA INSTITUTE OF TECHNOLOGY & SCIENCE, PILANI - K.K. Birla Goa Campus
<br>NH 17B, Bypass Road, Zuari Nagar 403726, GOA, India, Phone +0832-2580300
</h6>
</div>  
</body>
</html>