{% extends 'indexbase.html' %} {% block content %}
{% load static %}

<div class="container">


	<div class="row">

		<p align="center" style="font-size:36px; color:#000066"><b>Contacts</b></p>
		<div class="card-content">
			<table class="centered bordered striped" width="540px">
				<tr align="center">
					<th style="text-align: center"> Country Code </th>
					<th style="text-align: center"> STD Code </th>

				</tr>
				<tr align="center">
					<td id="contact1">91 </td>
					<td id="contact1">0832</td>

				</tr>
			</table>
		</div>

		<p align="center" style="font-size:16px; color:#000066"> <b></b></p>
		<div class="card-content cardContact">
			<table class="centered bordered " width="540px">

				<tr align="center">
					<td style="text-align:center;vertical-align: middle;width: 70px;">Associate Dean, Student Welfare
						Division</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}ASSOCIATE_DEAN.jpg"
							alt="" width="150" /></td>
					<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: Prof. Ranjan Dey
							<br />
							Email: ad.swd@goa.bits-pilani.ac.in <br />
							Contact No. (Office): 2580412 <br />
							Contact No. (Mobile): 8956677471 <br />
							Chamber: C-215
						</p>
				</tr>

				<tr align="center">
					<td style="text-align:center;vertical-align: middle;width: 70px;">Chief Warden</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}CHIEF_WARDEN.jpg"
							alt="" width="150" /></td>
					<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: Prof. Varinder Singh
							<br />
							Email: chiefwarden@goa.bits-pilani.ac.in <br />
							Contact No. (Office): 2580113 <br />
							Contact No. (Mobile): 8956677472 <br />
							Chamber: E-214
						</p>
					</td>

				</tr>
				<tr align="center">
					<td style="text-align:center;vertical-align: middle;width: 70px;">Deputy Chief Warden</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}DEPUTY_CHIEF_WARDEN1.jpg"
							alt="" width="150" /></td>
					<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: Prof. Ashish Chittora
							<br />
							Email: deputychiefwardenboys@goa.bits-pilani.ac.in <br />
							Contact No. (Office): 2580229 <br />
							Contact No. (Mobile): 8956485925 <br />
							Chamber: D-113
						</p>
					</td>

				</tr>
				<tr align="center">
					<td style="text-align:center;vertical-align: middle;width: 70px;">Deputy Chief Warden</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}DEPUTY_CHIEF_WARDEN2.jpg"
							alt="" width="150" /></td>
					<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: Prof. Indrani Talukdar
							<br />
							Email: deputychiefwardengirls@goa.bits-pilani.ac.in <br />
							Contact No. (Office): 2580359 <br />
							Contact No. (Mobile): 8956485931 <br />
							Chamber: C EX 1
						</p>
					</td>

				</tr>
			</table><br />
		</div>
		<p align="center" style="font-size:16px; color:#000066"> <b>Superintendents</b></p>
		<div class="card-content cardContact">
			<table class="centered bordered" width="60%">

				{% for w in asup|dictsort:"hostel" %}
				<tr>
					<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;">
						<img src="{% get_media_prefix %}{{w.name}}.jpg" alt="" width="150" />
					</td>
					<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br />
							Email: {{ w.email }}<br />
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br />
							Chamber: {{ w.chamber }}</p>
					</td>
				</tr>
				{% endfor %}

			</table><br />

		</div>
		<p align="center" style="font-size:16px; color:#000066"> <b>Assistant Superintendents</b></p>
		<div class="card-content cardContact">
			<table class="centered bordered" width="60%">
				{% for w in sup|dictsort:"hostel" %}
				<tr>
					<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}{{w.name}}.jpg" alt="" width="150" /></td>
					<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br />
							Email: {{ w.email }}<br />
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br />
							Chamber: {{ w.chamber }}</p>
					</td>
				</tr>
				{% endfor %}
			</table><br />

		</div>
		<p align="center" style="font-size:16px; color:#000066"> <b>Boys Hostel Wardens</b></p>
		<div class="card-content cardContact">

			<table class="centered bordered" width="60%">

				{% for w in bw|dictsort:"hostel" %}
				<tr>
					<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}{{w.hostel}}_WARDEN.jpg" alt="" width="150" /></td>
					</td>
					<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br />
							Email: {{ w.email }}<br />
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br />
							Mobile No: {{ w.residence }}<br />
							Chamber: {{ w.chamber }}</p>
					</td>
				</tr>
				{% endfor %}

			</table><br />
		</div>

		<br />
		<p align="center" style="font-size:16px; color:#000066"> <b>Girls Hostel Wardens</b></p>
		<div class="card-content cardContact">
			<table class="centered bordered" width="60%">

				{% for w in gw|dictsort:"hostel" %}
				<tr>
					<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
					<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img
							src="{% get_media_prefix %}{{w.hostel}}_WARDEN.jpg" alt="" width="150" /></td>
					</td>
					<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;">
						<p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br />
							Email: {{ w.email }}<br />
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br />
							Mobile No: {{ w.residence }}<br />
							Chamber: {{ w.chamber }}</p>
					</td>
				</tr>
				{% endfor %}
			</table><br />
		</div>
		<br />
	</div>

</div>


{% endblock %}