{% extends 'indexbase.html' %} {% block content %}

<div class="container">


	<div class="row">

				<p align="center" style="font-size:36px; color:#000066"><b>Contacts</b></p>
				<div class="card-content">
					<table class="centered bordered striped" width="540px">
						<tr align="center">
							<th style="text-align: center"> Country Code </th>
							<th style="text-align: center"> STD Code </th>

						</tr>
						<tr align="center">
							<td id="contact1">91 </td>
							<td id="contact1">0832</td>

						</tr>
					</table>
				</div>

				<p align="center" style="font-size:16px; color:#000066"> <b>Faculty Incharge</b></p>
				<div class="card-content cardContact">
					<table class="centered bordered " width="540px">

						<tr align="center">
							<td style="text-align:center;vertical-align: middle;width: 70px;">Associate Dean, Student Welfare Division</td>
 							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
 							<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: Prof. Angshuman Sarkar <br />
 							Email: ad.swd@goa.bits-pilani.ac.in <br />
 							Contact No. (Office): +91 08322580149</p>
						</tr>

						<tr align="center">
							<td style="text-align:center;vertical-align: middle;width: 70px;">Chief Warden</td>
 							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
 							<td style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: Prof. Sukanta Mondal <br />
 							Email: chiefwarden@goa.bits-pilani.ac.in <br />
 							Contact No. (Office): +91 08322580149</p></td>
						</tr>
					</table><br />
				</div>
				<p align="center" style="font-size:16px; color:#000066"> <b>Superintendents</b></p>
				<div class="card-content cardContact">
					<table class="centered bordered" width="60%">
						{% for w in sup|dictsort:"hostel" %}
 						<tr>
 							<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
 							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
 							<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br/>
 							Email: {{ w.email }}<br/>
 							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br/>
 							Chamber: {{ w.chamber }}</p></td>
 						</tr>
  						{% endfor %}

					</table><br />

				</div>
				<p align="center" style="font-size:16px; color:#000066"> <b>Assistant Superintendents</b></p>
				<div class="card-content cardContact">
					<table class="centered bordered" width="60%">

						{% for w in asup|dictsort:"hostel" %}
 						<tr>
 							<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
 							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
 							<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br/>
 							Email: {{ w.email }}<br/>
 							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br/>
 							Chamber: {{ w.chamber }}</p></td>
 						</tr>
 						{% endfor %}

					</table><br />

				</div>
				<p align="center" style="font-size:16px; color:#000066"> <b>Boys Hostel Wardens</b></p>
				<div class="card-content cardContact">

					<table class="centered bordered" width="60%">

						{% for w in bw|dictsort:"hostel" %}
						<tr>
							<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
							<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br/>
							Email: {{ w.email }}<br/>
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br/>
							Chamber: {{ w.chamber }}</p></td>
						</tr>
						{% endfor %}

					</table><br />
				</div>
					
				<br />
				<p align="center" style="font-size:16px; color:#000066"> <b>Girls Hostel Wardens</b></p>
				<div class="card-content cardContact">
					<table class="centered bordered" width="60%">
   
						{% for w in gw|dictsort:"hostel" %}
						<tr>
							<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.hostel }}</td>
							<td style="padding: 0px;vertical-align: middle;margin: 0%;width: 170px;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Placeholder_4-3_red.svg/120px-Placeholder_4-3_red.svg.png?20061104215256" alt="" width="150"/></td>
							<td id="contact1" style="font-size:medium;vertical-align: middle;text-align: left;width: 300px;"><p style="display:flex;justify-content:center;align-items:center">Name: {{ w.name }}<br/>
							Email: {{ w.email }}<br/>
							Contact No: (O):{{ w.phone_off|floatformat }}, (R):{{ w.phone_res|floatformat }}<br/>
							Chamber: {{ w.chamber }}</p></td>
						</tr>
						{% endfor %}
					</table><br />
				</div>
			<br />
	</div>

</div>


{% endblock %}