{% extends 'indexbase.html' %} {% block content %}

<div class="container">
    <div class="section">

  <div class="row">
    <div class="col s12 m12">
        <div class="card">
		<p align="center" style="font-size:36px; color:#000066"><b>Contacts</b></p>
		<div class="card-content">
				<table class="centered bordered striped" width="540px">
					<tr align="center">
					<th style="text-align: center"> Country Code </th> 
					<th  style="text-align: center"> STD Code </th> 
					
				</tr> 
				<tr align="center">
					<td id="contact1">91 </td>
					<td id="contact1">0832</td>
					
				</tr>
			</table>
		</div>
			
		 	<p align="center" style="font-size:16px; color:#000066"> <b>Faculty Incharge</b></p>
			<div class="card-content">
			<table class="centered bordered striped" width="540px">
					<tr>
						<th style="text-align: center"> Name</th>
					<th style="text-align: center"> Function </th>
					<th style="text-align: center"> Email:@goa.bits-pilani.ac.in </th>
					<th style="text-align: center">Chamber No.</th>
					<th style="text-align: center">Tel:(Off.)</th>
				</tr>
			
				<tr align="center">
					<td id="contact1">Dr. C.K. Ramesha</td>
					<td id="contact1">Associate Dean, Student Welfare Division</td>
					<td id="contact1">ad.swd</td>
					<td id="contact1">A-414</td>
					<td id="contact1">2580324</td>
				</tr>
			
				<tr align="center">
					<td id="contact1">Prof. Angshuman Sarkar</td>
					<td id="contact1">Chief Warden</td>
					<td id="contact1">chiefwarden</td>
					<td id="contact1">B-213</td>
					<td id="contact1">2580261</td>
				</tr>
			</table><br/>
			</div>
			<p align="center" style="font-size:16px; color:#000066"> <b>Superintendents</b></p>
			<div class="card-content">
			<table class="centered bordered striped" width="540px"> 
					<tr>
						<th style="text-align: center"> Name</th>
					<th style="text-align: center"> Function </th>
					<th style="text-align: center"> Email:@goa.bits-pilani.ac.in </th>
					<th style="text-align: center">Chamber No.</th>
					<th style="text-align: center">Tel:(Off.)</th>
					<th style="text-align: center">Tel:(Res.)</th>
				</tr>
			
				<tr align="center">
					<td id="contact1">Mrs. Smita Acharya</td>
					<td id="contact1">Senior Office Superintendent</td>
					<td id="contact1">smitaacharya</td>
					<td id="contact1">B-216</td>
					<td id="contact1">2580146</td>
					<td id="contact1">2580754</td>
				</tr>
			
				<tr align="center">
					<td id="contact1">Mr. S.Y.Muralidhara</td>
					<td id="contact1">Senior Office Superintendent</td>
					<td id="contact1">symuralidhara</td>
					<td id="contact1">B-217</td>
					<td id="contact1">2580147</td>
					<td id="contact1">2580715</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Mrs. Sonali Malik </td>
					<td id="contact1">Assistant Hostel Superintendent</td>
					<td id="contact1">smallik</td>
					<td id="contact1">CH5-136</td>
					<td id="contact1">2580623</td>
					<td id="contact1">2580756</td>
				</tr>
				
				
				<tr align="center">
					<td id="contact1">Mr. Viren Dhamaskar</td>
					<td id="contact1">Assistant Hostel Superintendent</td>
					<td id="contact1">virend</td>
					<td id="contact1">AH8-154</td>
					<td id="contact1">2580622</td>
					<td id="contact1">2580527</td>
				</tr>
			
			<tr align="center">
					<td id="contact1">Mr. Shridhar Patil</td>
					<td id="contact1">Assistant Hostel Superintendent</td>
					<td id="contact1">shridharp</td>
					<td id="contact1">DH1-</td>
					<td id="contact1">2580621</td>
					<td id="contact1">2580528</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Mr. Randhir Singh</td>
					<td id="contact1">Assistant Hostel Superintendent</td>
					<td id="contact1"></td>
					<td id="contact1">CH1-177</td>
					<td id="contact1"></td>
					<td id="contact1"></td>
				</tr>
			
			
			
			</table><br/>
			
			</div>
			<p align="center" style="font-size:16px; color:#000066"> <b> Wardens</b></p>
			<div class="card-content">
			<table class="centered bordered striped" width="540px"> 
					<tr>
						<th style="text-align: center"> Name</th>
					<th style="text-align: center"> Function </th>
					<th style="text-align: center"> Email:@goa.bits-pilani.ac.in </th>
					<th style="text-align: center">Chamber No.</th>
					<th style="text-align: center">Tel:(Off.)</th>
					<th style="text-align: center">Tel:(Res.)</th>
				</tr>
			
				<tr align="center">
					<td id="contact1">DR.AMIT SETIA</td>
					<td id="contact1">CH-1</td>
					<td id="contact1">ch1warden</td>
					<td id="contact1">CC-211</td>
					<td id="contact1">2580451</td>
					<td id="contact1">2580543</td>
				</tr>
			
			     <tr align="center">
					<td id="contact1">Dr. ANGSHUMAN SARKAR</td>
					<td id="contact1">CH-2</td>
					<td id="contact1">ch2warden</td>
					<td id="contact1">B-213</td>
					<td id="contact1">2580261</td>
					<td id="contact1">2580756</td>
				</tr>
			
			
			   
				
				<tr align="center">
					<td id="contact1">Dr. MAINAK BANARJEE</td>
					<td id="contact1">CH-3</td>
					<td id="contact1">ch3warden</td>
					<td id="contact1">C-222</td>
					<td id="contact1">2580347</td>
					<td id="contact1">2580523</td>
				</tr> 
				
				<tr align="center">
					<td id="contact1">Dr. P. BHAVANA</td>
					<td id="contact1">CH-4</td>
					<td id="contact1">ch4warden</td>
					<td id="contact1">C-223</td>
					<td id="contact1">2580156</td>
					<td id="contact1">2580535</td>
				</tr>
				
				
				<tr align="center">
					<td id="contact1">Dr. JEGATHA NAMBI KRISHNAN</td>
					<td id="contact1">CH-5</td>
					<td id="contact1">ch5warden</td>
					<td id="contact1">A-301/12</td>
					<td id="contact1">2580395</td>
					<td id="contact1"></td>
				</tr>
				
				 <tr align="center">
					<td id="contact1">Dr. ANGSHUMAN SARKAR</td>
					<td id="contact1">CH-6</td>
					<td id="contact1">ch6warden</td>
					<td id="contact1">B-213</td>
					<td id="contact1">2580261</td>
					<td id="contact1">2580756</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. K.A.GEETHA</td>
					<td id="contact1">CH-7</td>
					<td id="contact1">ch7warden</td>
					<td id="contact1">A-301/20</td>
					<td id="contact1">2580232</td>
					<td id="contact1">2580539</td>
				</tr>
				
			  <tr align="center">
					<td id="contact1">Dr. ARNAB BANERJEE</td>
					<td id="contact1">AH-1</td>
					<td id="contact1">ah1warden</td>
					<td id="contact1">C-EX4</td>
					<td id="contact1">2580361</td>
					<td id="contact1">2580537</td>
				</tr>
			
				<tr align="center">
					<td id="contact1">Dr. RAGHU NATH BEHERA</td>
					<td id="contact1">AH-2</td>
					<td id="contact1">ah2warden</td>
					<td id="contact1">B-311</td>
					<td id="contact1">2580331</td>
					<td id="contact1">2580506</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr.  VIKAS CHAUDHARI</td>
					<td id="contact1">AH-3</td>
					<td id="contact1">ah3warden</td>
					<td id="contact1">A-313/5</td>
					<td id="contact1">2580117</td>
					<td id="contact1">2580734</td>
					
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. CH V V S N V PRASAD</td>
					<td id="contact1">AH-4</td>
					<td id="contact1">ah4warden</td>
					<td id="contact1">A-311</td>
					<td id="contact1">2580420</td>
					<td id="contact1">2580732</td>
					
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. MALI KIRAN DINAKAR</td>
					<td id="contact1">AH-5</td>
					<td id="contact1">ah5warden</td>
					<td id="contact1">A-313/10</td>
					<td id="contact1">2580416</td>
					<td id="contact1">2580513</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. RAJOSHRI SENGUPTA</td>
					<td id="contact1">AH-6</td>
					<td id="contact1">ah6warden</td>
					<td id="contact1">CC-216</td>
					<td id="contact1">2580462</td>
					<td id="contact1">2580543</td>
				</tr>
			
				
			    <tr align="center">
					<td id="contact1">Dr. RAVI PRASAD ADURI</td>
					<td id="contact1">AH-7</td>
					<td id="contact1">ah7warden</td>
					<td id="contact1">C-206</td>
					<td id="contact1">2580394</td>
					<td id="contact1">2580538</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. SUNIL KUMAR V</td>
					<td id="contact1">AH-8</td>
					<td id="contact1">ah8warden</td>
					<td id="contact1">C-215</td>
					<td id="contact1">2580142</td>
					<td id="contact1">2580740</td>
				</tr>
			
			
				<tr align="center">
					<td id="contact1">Dr. G. KARTHIKEYAN</td>
					<td id="contact1">AH-9</td>
					<td id="contact1">ah9warden</td>
					<td id="contact1">A-313/1</td>
					<td id="contact1">2580267</td>
					<td id="contact1">2580542</td>
				</tr>
				
				<tr align="center">
					<td id="contact1">Dr. SUKANTA MONDAL</td>
					<td id="contact1">DH-1</td>
					<td id="contact1">dh1warden</td>
					<td id="contact1">B-111</td>
					<td id="contact1">2580149</td>
					<td id="contact1">2580544</td>
				</tr> 
				
					<tr align="center">
					<td id="contact1">Dr. SANJAY K SAHAY</td>
					<td id="contact1">DH-2</td>
					<td id="contact1">dh2warden</td>
					<td id="contact1">A-407</td>
					<td id="contact1">2580243</td>
					<td id="contact1">2580536</td>
				</tr>
				
			</table><br/>
		</div>
		<p align="center" style="font-size:16px; color:#000066"><b>Staff Members</b></p>
		Email: swd@goa.bits-pilani.ac.in 
		<table class="centered bordered striped" width="540px">
		<tr align="center-content">
				<th style="text-align: center" > Name</th>
			<th style="text-align: center"> Help/Queries</th>
			<th style="text-align: center">Office No.</th>
			<th style="text-align: center">Tel:(Off.)</th>
		</tr>

		<tr align="center">	
			<td id="contact1">Ms.Namrata Sawant</td>
			<td id="contact1">Refund, Dues.</td>
			<td id="contact1">B-102</td>
			<td id="contact1">2580148</td>
		</tr>
			
		<tr align="center">
			<td id="contact1">Ms.Kalpita Desai</td>
			<td id="contact1">Fees Receipts, Dup Id Card.</td>
			<td id="contact1">B-102</td>
			<td id="contact1">2580148</td>
		</tr>
			
		<tr align="center">
			<td id="contact1">Ms.Sonali Naik</td>
			<td id="contact1">Scholarship, Migration.</td>
			<td id="contact1">B-102</td>
			<td id="contact1">2580157</td>
		</tr>			
			
		<tr align="center">
			<td id="contact1">Ms.Sunita Prabhudesai</td>
			<td id="contact1">Certificates, Semester Fees.</td>
			<td id="contact1">B-102</td>
			<td id="contact1">2580157</td>
		</tr>	

		<tr align="center">
			<td id="contact1">Mr.Santosh Kumar Biswal</td>
			<td id="contact1">General, Lost & Found</td>
			<td id="contact1">B-102</td>
			<td id="contact1">+91 8956271338</td>
		</tr>					
		</table>
	</div>
			<br/>
			
		</div>
		</div>	
</div>
</div>


{% endblock %}