{% extends 'security_dash_base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="section no-pad-bot" id="index-banner"></div>
    <div>
        <div class="section">
            <div class="row">
                <div class="col s6 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Approved Leaves</span>
                            <table class="bordered highlight">
                                <thead>
                                    <tr>
                                        <th>Leave No.</th>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Departure Date</th>
                                        <th>Departure Time</th>
                                        <th>Arrival Date</th>
                                        <th>Arrival Time</th>
                                        <th>Claim Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for leave in leaves %}
                                    <tr class="clickable" data-id="{{ leave.id }}">
                                        <td>{{ leave.id }}</td>
                                        <td>{{ leave.student.name }}</td>
                                        <td>{{ leave.student.bitsId }}</td>
                                        <td>{{ leave.dateTimeStart|date:"d/m/Y" }}</td>
                                        <td>{{ leave.dateTimeStart|time:"H:i" }}</td>
                                        <td>{{ leave.dateTimeEnd|date:"d/m/Y" }}</td>
                                        <td>{{ leave.dateTimeEnd|time:"H:i" }}</td>
                                        {% if leave.claimed %}
                                            <td>Claimed</td>
                                        {% else %}
                                            <td>Not Claimed</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}