{% extends 'base.html' %}
{% load staticfiles %}
  
{% block content %}

<div class="container-fluid ">
    <h4 style="color:#F46036; margin: 0; padding: 8px; font-size: 31px">Recent Notices</h4>
          {% include 'notice.html' %} 
          {% include 'storeitems.html' %}
    <div class="card new-green lighten-4 mobile">
      <div class="card-content">
        <div class="row">
          <div class="col s6 l12">
            <table class="bordered white centered">
              <tbody>
                {% if not student_filled_vac %}
                <tr>
                  <td>{{ vacation }} Details Can Be Filled Now</td>
                  <td>
                    <span class="red-text">
                      Make sure you fill before {{ vacation.dateClose }}.
                    </span>
                  </td>
                  <td>
                    <a class="waves-effect waves-light btn" href="{% url 'vacation_details_fill'%}">
                    Fill Here
                    </a>
                  </td>
                </tr>
                {% endif %}
                <tr>
                  <td>Mess Option</td>
                  <td>
                      {% if option == 0 %}
                          <span class="new badge blue comm" data-badge-caption="Option open"></span>
                          {% elif option == 1 %}
                          <span class="new badge green comm" data-badge-caption="Option filled: {{mess}} Mess"></span>
                          {% else %}
                          <span class="new badge red comm" data-badge-caption="Option closed"></span>
                          {% endif %}
                  </td>
                  <td> <a class="waves-effect waves-light btn" href="/messoption">Check</a>
                  </td>
                </tr>
                {% for leave in leaves|slice:":1" %}
                <tr>
                  <td>Leave Application</td>
                  <td>
                    {% if leave.approved == 1%}
                    <span class="new badge green comm" data-badge-caption="Approved"></span> {% elif leave.disapproved == 1 %}
                    <span class="new badge red comm" data-badge-caption="Not Approved"></span> {% else %}
                    <span class="new badge blue comm" data-badge-caption="In Process"></span> {% endif %}
                  </td>
                  <td><a class="waves-effect waves-light btn" href="/leave">Check</a></td>
                </tr>
                {% endfor %}

                {% for bonafide in bonafides|slice:":1" %}
                <tr>
                  <td>Bonafide Application</td>
                  <td>
                    {% if bonafide.printed == 0 %}
                    <span class="new badge red comm" data-badge-caption="Not Printed"></span> {% else %}
                    <span class="new badge green comm" data-badge-caption="Printed"></span> {% endif %}
                  </td>
                  <td><a class="waves-effect waves-light btn" href="/certificates">Check</a></td>
                </tr>
                {% endfor %}

                {% for daypass in daypasss|slice:":1" %}
                <tr>
                  <td>DayPass Application</td>
                  <td>
                    {% if daypass.approved == 1%}
                    <span class="new badge green comm" data-badge-caption="Approved"></span> {% elif daypass.disapproved == 1 %}
                    <span class="new badge red comm" data-badge-caption="Not Approved"></span> {% else %}
                    <span class="new badge blue comm" data-badge-caption="In Process"></span> {% endif %}
                  </td>
                  <td><a class="waves-effect waves-light btn" href="/daypass">Check</a></td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</div>
<style>
  .comm {
    width:100px;
  }
</style>
{% endblock %}
