{% extends 'security_dash_base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="section no-pad-bot" id="index-banner"></div>
    <div>
        <div class="section">
            <div class="row">
                <div class="col s6 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Approved Daypasses</span>
                            <table class="bordered highlight">
                                <thead>
                                    <tr>
                                        <th>DayPass No.</th>
                                        <th>Name</th>
                                        <th>ID</th>
                                        <th>Date Applied</th>
                                        <th>Out time</th>
                                        <th>In time</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for daypass in daypasses %}
                                    <tr class="clickable" data-id="{{ daypass.id }}">
                                        <td>{{ daypass.id }}</td>
                                        <td>{{ daypass.student.name }}</td>
                                        <td>{{ daypass.student.bitsId }}</td>
                                        <td>{{ daypass.dateTime|date:"d/M/y" }}</td>
                                        <td>{{ daypass.dateTime|time}}</td>   
                                        <td>{{ daypass.inTime|time}}</td>      
                                        <td>{{ daypass.corrAddress}}</td>    
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
{% endblock %}