{%extends option%}
{% block content %}


<div class="container">
        <h4 style="color:#F46036; margin: 0; padding: 8px; font-size: 31px">Website Team:</h4><br>
<h5>Developers:</h5> Aryan Agarwal (2016A1PS0705G), Sarthak Agarwal (2016B4A70511G), Sebastin Santy, Prudhvi Rampey, Mehul Mohan, Adithya Anand, Gaurav Sangle, Sharan Yalburgi, Khizir Siddiqui, Sai Vineet, Chaitanya Mukka
, Deepesh Makhijani<br><br>
<h5>UI and UX Designers: </h5>
Devashish Gupta, Mohd Sameer Khan, Abhinav Gupta, 
Sai Bharadwaj Sarangula<br><br>
<h5>Faculty Advisor: </h5>
Baiju Krishnan
</div>
{% endblock %}