{%extends option1%}
{% block content %}
<div class="container-fluid" style="text-align: center">
                <h4 style="color:#F46036; margin: 0; padding: 8px; font-size: 31px">Website Team:</h4><br>
                <div class="row">
                        <div class="col s12 l6">
                                <h5>Developers:</h5> <br>
                                Aryan Pingle<br>
                                Amod Nijasure<br>
                                Aryan Agarwal<br>
                                Sarthak Agarwal<br>
                                Sebastin Santy<br>
                                Prudhvi Rampey<br>
                                Asad Ali<br>
                                Mehul Mohan<br>
                                Adithya Anand<br>
                                Gaurav Sangle<br>
                                Sharan Yalburgi<br>
                                Khizir Siddiqui<br>
                                Sai Vineet<br>
                                Chaitanya Mukka<br>
                                Deepesh Makhijani<br><br>
                        </div>
                        <div class="col s12 l6">
                                <h5>UI and UX Designers: </h5><br>
                                Devashish Gupta<br>
                                Mohd Sameer Khan<br>
                                Abhinav Gupta<br>
                                Sai Bharadwaj Sarangula<br><br>
                                <h5>Faculty Advisor: </h5>
                                Baiju Krishnan
                        </div>
                </div>
                <div class="row">
                        This is an open source project. Contribute <a href="https://github.com/swd-bits-goa/swd_django">here</a>.
                </div>
                <div class="row">
                        Report a bug or request a feature <a href="https://forms.gle/2W625mE7N4DtbrLH8">here</a>.
                </div>

                
</div>
{% endblock %}