{% extends 'base.html' %} {% load staticfiles %} {% block content %}


<div class="container">
    <div class="section">
        <div><a class="waves-effect waves-light btn" href="javascript:alert('place link here')">BITS Constitution</a></div><br>
        <div><a class="waves-effect waves-light btn" href="javascript:alert('place link here')">Counsellor Notice</a></div><br>
        <div><a class="waves-effect waves-light btn" href="javascript:alert('place link here')">Information Booklet</a></div>
    </div>
    <br><br>
</div>
{% endblock %}