{% extends 'security_dash_base.html' %} {% block content %}

<div class="container">
	<div class="row valign-wrapper" id="bodyWrap">
		<div class="col s5" style="margin: auto">
			<span class="card-title fresh-orange"><h4>Student</h4></span>
			<br />

			<form id="sign_in" method="POST">
				{% csrf_token %}
				<input type="hidden" name="form_type" value="formOne" />
				<div class="input-field" id="username">
					<input
						type="text"
						class="validate"
						name="username"
						autocomplete="username"
						autocorrect="off"
						autocapitalize="none"
					/>
					<label for="username">BITS ID</label>
				</div>

				<button
					type="submit"
					class="waves-effect waves-light btn desert-yellow"
					id="loginbtn"
				>
					<span class="deep-green">Submit</span>
				</button>
			</form>
			<br />
			{% if errors %}
				{% for error in errors %}
				<span>{{ error }}</span>
				{% endfor %}
			{% endif %}
		</div>
		

		{% if student and not success and not errors %}
		<div class="col s7" style="margin: auto">
			<div class="container-fluid">
				<div class="row">
					<form id="in_out_form" method="POST">
						{% csrf_token %}
						<input type="hidden" name="form_type" value="formTwo" />
						<input type="hidden" name="bitsid" value="{{ student.bitsId }}" />
						<div class="col s12 valign-wrapper">
							<div class="col s6 push-s1">
								<img
								style="max-width: 180px"
								class="circle profileImg"
								src="/media/{{ student.profile_picture }}"
								/>
							</div>

							<div class="col s6 center-align">
								<h5>
									{{ student.name }}<br />{{ student.bitsId }}<br />
									{{ student.phone | floatformat:0 }}
								</h5>
							</div>
						</div>

						{% if inout.inCampus and inout %}
						<div class="col s10 push-s2 input-field" id="place">
							<input
								type="text"
								class="validate"
								name="place"
								autocorrect="off"
								autocapitalize="none"
							/>
							<label for="place">Place</label>
						</div>
						{% endif %}

						{% if not inout %}
						<div class="col s10 push-s2 input-field" id="place">
							<input
								type="text"
								class="validate"
								name="place"
								autocorrect="off"
								autocapitalize="none"
							/>
							<label for="place">Place (Leave blank if coming in campus)</label>
						</div>
						{% endif %}

						<div class="col s10 push-s2">

							{% if not inout %}
							<div>
								<input type="checkbox" id="incampus_check" name="incampus_check" class="filled-in" />
								<label for="incampus_check">Coming in campus?</label>
							</div>
							{% endif %}

							{% if not inout.inCampus and inout %}
							<div class="center-align">
								<span>Welcome to campus!</span>
							</div>
							{% endif %}

							{% if leave and inout.inCampus or leave and not inout %}
							<div>
								<input type="checkbox" id="leave_check" name="leave_check" class="filled-in" />
								<label for="leave_check">Activate Leave</label>
								<span>
									{{ leave.dateTimeStart|date:"d/m/Y" }} {{ leave.dateTimeStart|time:"H:i" }} Approved: {{ leave.approved }} Reason: {{ leave.reason }}
								</span>
							</div>
							{% endif %}
							<br />
							{% if daypass and inout.inCampus or daypass and not inout %}
							<div>
								<input type="checkbox" id="daypass_check" name="daypass_check" class="filled-in" />
								<label for="daypass_check">Activate DayPass</label>
								<span>
									{{ daypass.dateTime|date:"d/M/y" }} {{ daypass.dateTime|time }} {{ daypass.corrAddress}}
								</span>
							</div>
							{% endif %}
							<br />
							{% if weekendpass and inout.inCampus or weekendpass and not inout %}
							<div>
								<input type="checkbox" id="weekendpass_check" name="weekendpass_check" class="filled-in" />
								<label for="weekendpass_check">Activate Weekend Pass</label>
								<span>
									{{ weekendpass.expiryDate|date:"d/M/y" }} {{ weekendpass.place}}
								</span>
							</div>
							{% endif %}
							{% if inout.inCampus or not inout %}
							{% if not leave or leave.comment != "Vacation" %}
							{% if vacationdates %}
							<div>
								<input type="checkbox" id="vacation_check" name="vacation_check" class="filled-in" />
								<label for="vacation_check">Activate Vacation</label>
							</div>
							{% endif %}
							{% endif %}
							{% endif %}
						</div>

						<div class="col s10 push-s2 center-align">
							<button
								type="submit"
								class="waves-effect waves-light btn desert-yellow"
								id="loginbtn"
							>
								<span class="deep-green">Record</span>
							</button>
						</div>
					</form>
					<div class="col s10 push-s2 center-align">
						<br />
						<a href="{% url 'gate_security' %}">Look for other student</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %} 
		
		{% if success %}
		<div class="col s7" style="margin: auto">
			<div class="container-fluid">
				<div class="row">
					<input type="hidden" name="form_type" value="formTwo" />
					<input type="hidden" name="bitsid" value="{{ student.bitsId }}" />
					<div class="col s12 valign-wrapper">
						<div class="col s6 push-s1">
							<img
								style="max-width: 180px"
								class="circle profileImg"
								src="/media/{{ student.profile_picture }}"
							/>
						</div>

						<div class="col s6 center-align">
							<h5>
								{{ inout.student.name }}<br />{{ inout.student.bitsId }}<br />
								{{ inout.student.phone }}
							</h5>
						</div>
					</div>

					<p align="center" style="font-size:16px; color:#000066"> <b>Last 5 entries</b></p>
					<div class="card-content cardContact">
						<table class="centered bordered" width="60%">
							<tr>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">Place</td>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">In</td>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">Out</td>
							</tr>
							{% for w in lastfive %}
							<tr>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.place }}</td>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.inDateTime }}</td>
								<td id="contact1" style="text-align:center;vertical-align: middle;width: 70px;">{{ w.outDateTime }}</td>
							</tr>
							{% endfor %}
			
						</table><br />
			
					</div>

					<div class="col s10 push-s2 center-align">
						<br />
						<a href="{% url 'gate_security' %}">Look for other student</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>

<style>
	#bodyWrap {
		height: 75vh;
	}
	.clickable {
		cursor: pointer;
	}
	td{
		padding: 0;
	}
</style>

{% endblock %}
