{% extends 'indexbase.html' %}
{% load staticfiles %}
{% block content %}

<img src="{% static 'img/swd-back.png' %}" width="100%">

  <div class="container">
  
    <div class="section">
      

      <!--   Icon Section   -->
  <div class="row">
    <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">computer</i></h2>
            <h5 class="center">Computer Centre</h5>
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
              Additionally, we refined animations and transitions to provide a smoother experience for developers.<br> Link: <a href="cc.bits-goa.ac.in">cc.bits-goa.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">chrome_reader_mode</i></h2>
            <h5 class="center">E.R.P.</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates
              components and animations that provide more feedback to users. Additionally, a single underlying responsive
              system across all platforms allow for a more unified user experience.<br> Link: <a href="cc.bits-goa.ac.in">cc.bits-goa.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">folder</i></h2>
            <h5 class="center">F.T.P.</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are
              also always open to feedback and can answer any questions a user may have about Materialize.<br> Link: <a href="cc.bits-goa.ac.in">cc.bits-goa.ac.in</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>
    <br><br>
  </div>

  {% comment %} <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SWD</h5>
          <p class="grey-text text-lighten-4">Student Welfare Division</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">OSDLabs</a>
      </div>
    </div>
  </footer> {% endcomment %}

  <style>
    img{
      object-fit: cover;
    }
    body {
      opacity: 1;filter: alpha(opacity=.9);
      background-attachment: fixed;
      background-repeat: no-repeat;
      height: 100px;
      background-position: center;
      background-size: cover;
    }
  </style>
{% endblock %}

