{% extends 'indexbase.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="backdrop-container">
    <div class="login-box desktop">
        <h5 style="color:#F46036; font-weight: 700;">Sign In</h5>
        <form id="sign_in" method="POST" action="login/">
            {% csrf_token %}
            <div class="input-field" id="username">
                <input type="text" class="validate" name="username" autocomplete='username' autocorrect="off"
                    autocapitalize="none">
                <label for="username">Username</label>
            </div>

            <div class="input-field" id="password">
                <input type="password" class="validate valid" name="password" autocomplete="current-password">
                <label for="password">Password</label>
            </div>

            <button type="submit" class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span
                    class="deep-green">Login</span></button>
            <a href="https://cc.bits-goa.ac.in/ldap/index.php">
                <button type="button" class="waves-effect waves-light btn desert-yellow">
                    <span class="deep-green">Reset Password</span>
                </button>
            </a>

        </form>
        <br>
        {% if messages %} {% for message in messages %}
        <span class="badge fresh-orange" data-badge-caption="{{ message }}!"></span>
        {% endfor %} {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="section">
        <div class="row">
            <h4 style="color:#074F57; text-align: center;">Office of Student Welfare Division</h4>

            <div class="col s12 m6">
                <img class="message" src="{% static 'img/messagefromdean.png' %}" alt="">
            </div>
            <div class="col s12 m6 center">
                <h4 style="color:#F46036;">Notices</h4>
                {% include 'notice.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col s12 m12 l12">
                <h4 style="text-align: center;">Meet Our Staff</h4>
                <div class="staff-container">
                {% for s in sf %}
                    <div class="staff">
                        <div class="staff__photo">
                            <img src="{% get_media_prefix %}{{s.name}}.jpg" alt="">
                        </div>
                        <div class="staff__description">
                            <h5>{{s.name}}</h5>
                            <p>{{s.staffType}}<br>{{s.phone}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 desktop" style="display: inline-block; float: left;">
                <img src="{% static 'img/bits_img.jpg' %}" style="width: 100%;">
            </div>
            <div class="col s12 m6 l6" style="display: inline-block; float: right;">
                <h4>Contact Us</h4>
                <b>Phone: </b>+91 0832 2580(148/157)<br>
                <b>Email: </b>swd@goa.bits-pilani.ac.in<br>
                <b>Office Hours: </b><br>Monday to Friday 9AM - 1PM & 2PM - 5PM<br>Saturday 9AM - 1PM<br>
                <b>Campus Location: </b>
                <a href="https://www.google.com/maps/place/BITS+Pilani+K+K+Birla+Goa+Campus/@15.3921698,73.8807793,16.92z/data=!4m5!3m4!1s0x0:0x4ad5683010110240!8m2!3d15.3911236!4d73.8781616">
                    Birla Institute of Technology & Science, Pilani, K. K. Birla Goa Campus.
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .backdrop-container {
        background-image: url("{% static 'img/swd-back.png' %}");
        background-position: center;
        background-size: cover;
        padding: 1.5em;
    }

    img {
        object-fit: cover;
    }

    body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100px;
        background-position: center;
        background-size: cover;
    }

    .backdrop-container {
        min-height: 150px;
        position: relative;
    }

    .login-box {
        position: relative;
        border-radius: 5px;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.1);
        padding: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: 0;
    }

    .message {
        object-fit: cover;
        max-width: 100%;
        image-rendering: optimizeQuality;
    }

    .staff-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 4rem;
    }

    .staff {
        background-color: rgb(0, 0, 0, 0.05);
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
    }

    .staff__photo {
        width: 100%;
    }

    .staff__photo img {
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .staff__description {
        padding: 0.5em;
        width: 100%;
    }

    .staff__description h5 {
        font-weight: 600;
    }
</style>
{% endblock %}