{% extends 'indexbase.html' %}
{% load staticfiles %}
{% block content %}

<div class="backdrop-container">
  <img id="back-swd" src="{% static 'img/swd-back.png' %}" width="100%">
  <div class="card login-box desktop">
    <h5 style="color:#F46036">Sign In</h5>
    <form id="sign_in" method="POST" action="login/">
      {% csrf_token %}
      <div class="input-field" id="username">
        <input type="text" class="validate" name="username" autocomplete='username' autocorrect="off"
          autocapitalize="none">
        <label for="username">Username</label>
      </div>

      <div class="input-field" id="password">
        <input type="password" class="validate valid" name="password" autocomplete="current-password">
        <label for="password">Password</label>
      </div>

      <button type="submit" class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span
          class="deep-green">Login</span></button>

    </form>
    <br>
    {% if messages %} {% for message in messages %}
    <span class="badge fresh-orange" data-badge-caption="{{ message }}!"></span>
    {% endfor %} {% endif %}
  </div>
</div>

<div class="container-fluid">

  <div class="section">
    <div class="row">
      <div class="col s12 m6 desktop">

        <h4 style="color:#074F57">About</h4>
        <p style="justify-content: center;">The Student Welfare Division at BITS Pilani, K.K. Birla Goa Campus shall
          always strive to provide the most conducive environment to bring out the best out of every student. It is our
          endeavor to do anything and everything possible to make the student's stay in the campus the most memorable
          one.
          <br><br>
          Our division cares for every student and shall always look into their needs that may arise from time to time.
        </p>
        <br>
        Other activities of the Division include:
        <ul>
          <li>• Collection of fees</li>
          <li>• Disbursal of Merit Scholarships and MCN Scholarships</li>
          <li>• Coordinating for various Fests organized by students</li>
          <li>• Maintenance of Individual students account related to Mess Advance</li>
          <li>• Hostel accommodation to students and leave related issues</li>
          <li>• Issue of Receipts, ID Cards, bonafide Certificates & No Objection Cetificates</li>
          <li>• Monitoring the Student Activity Center</li>
        </ul>
        <br><br><br>
        <img src="{% static 'img/bits_img.jpg' %}" style="width: 100%;">
      </div>
      <div class="col s12 m6">
        <h4 style="color:#F46036">Notices</h4>
        {% include 'notice.html' %}
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <h4>Contact</h4>
        <b>Phone: </b>+91 0832 2580(148/157)<br>
        <b>Email: </b>swd@goa.bits-pilani.ac.in<br>
        <b>Office Hours: </b><br>Monday to Friday 9AM - 1PM & 2PM - 5PM<br>Saturday 9AM - 1PM<br>
        <b>Campus Location: </b><a href="https://www.google.com/maps/place/BITS+Pilani+K+K+Birla+Goa+Campus/@15.3921698,73.8807793,16.92z/data=!4m5!3m4!1s0x0:0x4ad5683010110240!8m2!3d15.3911236!4d73.8781616">Birla Institute of Technology & Science, Pilani Goa Campus. Near NH17B, Zuarinagar, Goa, India</a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        <h4>Meet Our Staff</h4>
        <div class="staff-container">
          <div class="staff">
            <div class="staff__photo">
              <img src="{% static 'img/staff/Namrata Sawant.jpg' %}" alt="">
            </div>
            <div class="staff__description">
              <h5>Ms. Namrata Sawant</h5>
              <p>Junior Officer, SWD<br>+91 0832 2580148</p>
            </div>
          </div>
          <div class="staff">
            <div class="staff__photo">
              <img src="{% static 'img/staff/Kalpita Desai.jpg' %}" alt="">
            </div>
            <div class="staff__description">
              <h5>Ms. Kalpita Desai</h5>
              <p>Programmer Gr-II, SWD<br>+91 0832 2580148</p>
            </div>
          </div>
          <div class="staff">
            <div class="staff__photo">
              <img src="{% static 'img/staff/Sunita Prabhudesai.jpg' %}" alt="">
            </div>
            <div class="staff__description">
              <h5>Ms. Sunita Prabhudesai</h5>
              <p>Office Assistant, SWD<br>+91 0832 2580157</p>
            </div>
          </div>
          <div class="staff">
            <div class="staff__photo">
              <img src="{% static 'img/staff/Sonali Naik.jpg' %}" alt="">
            </div>
            <div class="staff__description">
              <h5>Ms. Sonali Naik</h5>
              <p>Junior Officer, SWD<br>+91 0832 2580157</p>
            </div>
          </div>
          <div class="staff">
            <div class="staff__photo">
              <img src="{% static 'img/staff/Santosh Kumar Biswal.jpg' %}" alt="">
            </div>
            <div class="staff__description">
              <h5>Mr. Santosh Biswal</h5>
              <p>Operation Assistant, SWD<br>+91 8956271338</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <style>
      img {
        object-fit: cover;
      }

      body {
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100px;
        background-position: center;
        background-size: cover;
      }

      .backdrop-container {
        position: relative;
      }

      .login-box {
        position: absolute;
        top: 16px;
        right: 20px;
        width: 460px;
        padding: 14px;
      }

      .staff-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
      }

      .staff {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
      }

      .staff__photo {
        width: 100%;
      }

      .staff__photo img {
        min-height: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
      }

      .staff__description {
        padding: 5px;
        width: 100%;
      }
    </style>
    {% endblock %}