{% extends 'superintendentbase.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner"></div>
    <div>
        <div class="section">
            <div class="row">
                {% if option == 1 %}
                <div class="col s6 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">DayPass Applications</span>
                            <table class="bordered highlight">
                                <thead>
                                    <tr>
                                        <th>DayPass No.</th>
                                        <th>Name (ID)</th>
                                        <th>Date Applied</th>
                                        <th>Out time</th>
                                        <th>Approval Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for daypass in daypasss %}
                                    <tr class="clickable" onclick="daypassclick(this)" data-id="{{ daypass.id }}">
                                        <td>{{ daypass.id }}</td>
                                        <td>{{ daypass.student.name }} | {{ daypass.student.bitsId }}</td>
                                        <td>{{ daypass.dateTime|date:"d/M/y" }}</td>
                                        <td>{{ daypass.dateTime|time}}</td>                                     
                                        <td>{% if daypass.approved == 1 %}Approved{% elif daypass.disapproved == 1 %}Disapproved{% else %}In Process{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% else %}

                <div class="container">
                    <div class="col s6 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">DayPass Dash</span>

                                <div class="row">
                                    <div class="col s4">
                                        Name:
                                    </div>
                                    <div class="col s6">
                                        {{ daypasss.student.name }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s4">
                                        ID:
                                    </div>
                                    <div class="col s6">
                                        {{ daypasss.student.bitsId }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s4">
                                        Date :
                                    </div>
                                    <div class="col s6">
                                        {{ daypasss.dateTime|date:"d/M/y" }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s4">
                                        Reason:
                                    </div>
                                    <div class="col s6">
                                        {{ daypasss.reason }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s4">
                                        Address:
                                    </div>
                                    <div class="col s6">
                                        {{ daypasss.corrAddress }}
                                    </div>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div style="background-color:#eee; padding:15px;">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="comment" name="comment" class="materialize-textarea">{{ daypass.comment }}</textarea>
                                            <label for="comment">Comments</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="daypass-approve" value="1" {% if daypass.approved == True %} checked="checked" {% endif %}/>
                                            <label for="daypass-approve">Approve</label>
                                        </div>
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="daypass-disapprove" value="2" {% if daypass.disapproved == True %} checked="checked" {% endif %}/>
                                            <label for="daypass-disapprove">Disapprove</label>
                                        </div>
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="daypass-process" value="3" {% if daypass.inprocess == True %} checked="checked" {% endif %}/>
                                            <label for="daypass-process">In Process</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <a href="/hostelsuperintendent/" class="btn btn-block bg-green waves-effect" >CANCEL</a>
                                        </div>
                                        <div class="col s6 right-align">
                                            <button class="btn btn-block bg-green waves-effect" type="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
