
{% extends 'base.html' %}
{% block content %}
<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Dashboard</span>
                        <td>Name: {{ student.name }}</td></br>
                        <td>BITS ID: {{ student.bitsId }}</td>
                    </div>
                </div>
            </div>
            </div>
                <div class="card">
                    <div class="card-content">
                      <div class="row">
                      <div class="col s6 l6">
                        <span class="card-title">Mess Option</span>
                        {% if option == 0 %}<p> Mess Option : -- </p>
                        {% elif option == 1 %} Mess Option : <b> Dining Hall {{mess}} </b>
                        {% else %}<p> Mess Option : -- </p>
                        {% endif %}
                    </div>
                    <div class="col s6 l6">
                              <span class="card-title">Leave Status</span>
                              <table class="striped">
                                  <thead>
                                      <tr>
                                          <th>Leave No.</th>
                                          <th>Approval Status</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{ leaves.id }}</td>
                                          <td>{% if leaves.approved == 0 and leaves.approvedBy == ''%}In Process{% elif leaves.approved == 0 %}Not Approved{% else %}Approved{% endif %}</td>
                                      </tr>

                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <div  class="row">
                      <div class="col s6 l6">
                                  <span class="card-title">Bonafide Applications</span>
                                  <table class="striped">
                                      <thead>
                                          <tr>
                                              <th>Bonafide No.</th>
                                              <th>Reason</th>
                                              <th>Print Status</th>
                                          </tr>
                                      </thead>
                                      <tbody>

                                          <tr>
                                              <td>{{ bonafides.id }}</td>
                                              <td>{% if bonafides.reason == 'Other' %} {{ bonafides.otherReason|default_if_none:"" }} {% else %} {{ bonafides.reason }} {% endif %}</td>
                                              <td>{% if bonafides.printed == 0 %}Not Printed {% else %}Printed{% endif %}</td>
                                          </tr>

                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                    </div>



        </div>
    <br><br>
</div>
{% endblock %}
