{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">


  <title>SWD BITS Pilani KK Birla Goa Campus</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/sacStyle.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

{% include 'includes/header.html' %}

    <nav class="nav-extended" role="navigation">
        <div class="nav-wrapper">
          <a href="/#" class="brand-logo"><img id="swd" src="{% static 'img/swd.png' %}"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/#">Home</a></li>
              <li><a href="/swd">Services</a></li>
              <li><a href="/csa">CSA</a></li>
              <li><a href="/sac">SAC</a></li>
              <li><a href="/antiragging">Anti-Ragging</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/search"><i class="material-icons" style="display: inline-block; font-size: 20px">search</i></a></li>
              <!-- <li><a href="/login">Log In</a></li> -->

          </ul>
          <ul class="side-nav" id="mobile-demo">
              <div class="container-fluid" style="margin-top:10px">
                  <div class="row" style="position: relative">
                      <div class="col sm-2">
                              <a href="/" class="valign-wrapper">
                                  <img style="max-width:80px" class="circle profileImg" src="{% static 'img/person.svg' %}">
                              </a>
                      </div>
                      <div class="col sm-10" style=" position: absolute;
                      top: 60%;
                      left: 40%;
                      transform: translate(0, -50%);">
                              Not Logged in
                      </div>
                  </div>
              </div>
              <!-- <li><img src="{% static 'img/person.svg' %}"></imgsrc>Not Logged in</li> -->
              <li><a href="/#">Home</a></li>
              <li id="login"><a href="/login">Log In</a></li>
              <li><a href="/swd">Services</a></li>
              <li><a href="/csa">CSA</a></li>
              <li><a href="/sac">SAC</a></li>
              <li><a href="/antiragging">Anti-Ragging</a></li>
              <li><a href="/contact">Contact Us</a></li>
              <li><a href="/search">Search</a></li>

              <div class="center"><a href="/developers" style="color: white;">Developers</a></div>
          </ul>
        </div>
        <div class="nav-content">
          <ul class="tabs tabs-transparent desktop">
              <!-- <li id="login"><a href="/swd">Mess Option</a></li>
              <li id="login"><a href="/csa">Leave</a></li>
              <li id="login"><a href="/sac">Events</a></li>
              <li id="login"><a href="/sac">Dues</a></li>
              <li id="login"><a href="/sac">Certificates</a></li>
              <li id="login"><a href="/login">Log In</a></li> -->
          </ul>
        </div>
      </nav>

  <!-- <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/#" class="brand-logo">Student Welfare Division</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/swd">SWD</a></li>
        <li><a href="/csa">CSA</a></li>
        <li><a href="/sac">SAC</a></li>
        <li><a href="/antiragging">Anti-Ragging</a></li>
        <li><a href="/notice">Notice</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/swd">SWD</a></li>
        <li><a href="/csa">CSA</a></li>
        <li><a href="/sac">SAC</a></li>
        <li><a href="/antiragging">Anti-Ragging</a></li>
        <li><a href="/notice">Notice</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/login">Login</a></li>x
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
  <footer class="page-footer back-green desktop" style="z-index:2">
      <p class="grey-text center">Student Welfare Division | <a href="/developers">Developers</a></p>
</footer>

{% block content %}
{% endblock %}
{% include 'includes/messages.html' %}
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</body>

</html>
