{% extends 'base.html' %} {% block content %}


<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Apply for Leave</span>
                        {% if option == 0 %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-md-12">
                                {% for field in form %}
                                <div class="input-field col s12">
                                    {{ field }} {{ field.label_tag }}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-green waves-effect" type="submit">SUBMIT</button>
                            </div>
                        </form>
                        {% elif option == 1 %}
                            <p>Leave Successfully applied. Please wait for approval</p>
                            <p>Leave applied from {{ dateStart }}({{ timeStart }}) to {{ dateEnd }}({{ timeEnd }})</p>
                        {% else %}
                            <p>Sorry, there was some problem with form submission. Please fill all the fields correct. All fields are required.</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col s6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Leave Applications</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th class="center-align">Leave No.</th>
                                    <th class="center-align">Duration</th>
                                    <th class="center-align">Approval Status</th>
                                    <th class="center-align">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for leave in leaves %}
                                <tr>
                                    <td class="center-align">{{ leave.id }}</td>
                                    <td class="center-align">{{ leave.dateTimeStart }} to {{ leave.dateTimeEnd }}</td>
                                    <td class="center-align badge-container">
                                        {% if leave.approved == 1%}
                                        <span class="new badge green comm" data-badge-caption="Approved"></span> {% elif leave.disapproved == 1 %}
                                        <span class="new badge red comm" data-badge-caption="Not Approved"></span> {% else %}
                                        <span class="new badge blue comm" data-badge-caption="In Process"></span> {% endif %}
                                    </td>
                                    <td class="center-align">{{ leave.comment }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br><br>
</div>
<style>
  .comm {
    width:100px;
  }
  .badge-container {
      width: 33%;
      padding-right:11%;
  }
</style>
{% endblock %}
