{% load staticfiles %}

  <!DOCTYPE html>
  <html>

  <head>
    <!--Import Google Icon Font-->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>
        -->
    <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>SWD BITS Goa</title>
  </head>

  <body>
    <div class="container">
      <div class="row valign-wrapper" id="bodyWrap">

        <div class="col s12 m6 offset-m3">
          <h2 class="white-text" align="center">Student Welfare Division</h2>
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title"></span> {% comment %} <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a>              {% endcomment %}

              <h5 align="center">You have successfully logged out.</h5>
              <div class="row">
              <div class="card-action col s12 m4 offset-m4">
                <a href="/">Home</a>
                <a href="/login">Login</a>
              </div>
              </div>

            </div>
          </div>
        </div>


      </div>
      <style>
        #bodyWrap {
          height: 90vh;
        }

        body {
          background: #00BCD4;
        }
      </style>

    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'assets/js/jquery.js' %}"></script>
    <script src="{% static 'assets/js/materialize.js' %}"></script>

  </html>