{% load staticfiles %}

  <!DOCTYPE html>
  <html>

  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        -->
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <title>SWD BITS Goa</title>
  </head>

  <body>
    <div class="container">
      <div class="row valign-wrapper" id="bodyWrap">

        <div class="col s12 m6 offset-m3" style="text-align:center">
            <img id="back-swd" class="center" src="{% static 'img/logo.png' %}" width="50%">
          <h4 class="black-text" align="center">Student Welfare Division</h4>
          <div class="card darken-1">
            <div class="card-content">
              <span class="card-title"></span> {% comment %} <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a>              {% endcomment %}

              <h5 align="center">You have successfully logged out.</h5>
              <div class="row">
              <div class="card-action col s12 m12 center">
                  <a href="/"><button class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span class="deep-green">Home</span></button></a>
                  <a href="/login"><button class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span class="deep-green">Login</span></button></a>
              </div>
              </div>

            </div>
          </div>
        </div>


      </div>
      <style>
        #bodyWrap {
          height:90vh;
        }
        body {
          background-image: url("{% static 'assets/img/bits-goa-campus.jpg' %}"); opacity: .9;filter: alpha(opacity=.9);
          background-repeat: no-repeat;
          height: 100vh;
          background-size: cover;
        }
      </style>

    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>

  </html>
