{% load staticfiles %}

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
      <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="four-zero-four">
      <div class="four-zero-four-container">
        <div class="row">

          <div class="col s6 offset-s3 z-depth-4" id="panell">
            <h1></h1>
            <div class="error-message">
              <p>     <h5>    Logged Out    </h5>    </p>
              </div>
            <div class="button-place">
                <a href="/" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>
            </div>
          </div>
          </div>
          </div>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="{% static 'assets/js/materialize.js' %}"></script>
    </body>
  </html>
