{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="section">
        <div class="card">
            <div class="card-content">
                {% if mcn_period %}
                <span class="card-title">
                    Apply Merit-cum-Needs Application : {{ mcn_period.Name }}
                </span>
                
                    {% if already_submitted %}
                    <div class="green-text">
                        You have already submitted the application on {{ already_submitted.DateTimeSubmitted }}. Contact SWD if any issues.
                    </div>
                    {% elif success %}
                    <div class="green-text">
                        Your application successfully submitted for review. Contact SWD if any issues.
                    </div>
                    {% else %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            Deadline for filling is <span class="red-text">{{ mcn_period.Close }}</span>
                        </div>

                        {% if errors %}
                        <div class="red-text">
                            <ul>
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="row s12">
                            <div class="input-field">
                            <label for="FathersName">Father's Name</label>
                            <input type="text" name="FathersName" id="FathersName" disabled value="{{ user.student.parentName }}"/>
                        </div>
                        
                        <div class="row s12 col">
                            <label for="MothersName">Mother's Name</label>
                            <input type="text" name="MothersName" id="MothersName" />
                        </div>
                        

                        <div class="row">
                            <div class="input-field col s6">
                            <label for="FathersIncome">Father's gross total income in INR</label>
                            <input type="number" name="FathersIncome" id="FathersIncome" />
                            </div>
                        <div class="input-field col s6">
                        <label for="MothersIncome">Mother's gross total income in INR</label>
                        <input type="number" name="MothersIncome" id="MothersIncome" />
                        </div>
                        </div>

                        <div>
                            <b class="red-text">Note:</b> Maximum upload size <b>10 MB</b> of type pdf only will be accepted. If your file does not comply, compress it to the appropriate format and size.<br>
                            <b class="red-text">Note: Only ITR for <b>Assessment Year {{ itr_year }}</b> will be accepted as a proof for non-agricultural income sources
                        </div>

                        <div class="file-field input-field">
                            <span>Merge all documents of Father in 1 pdf and upload.</span>
                        <div class="btn">
                            <span>Upload Father's ITR of AY {{ itr_year }}</span>
                            <input type="file" name="FathersIncomeDoc" id="FathersIncomeDoc">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>

                        <div class="file-field input-field">
                            <span>Merge all documents of Mother in 1 pdf and upload.</span>
                        <div class="btn">
                            <span>Upload Mother's ITR of AY {{ itr_year }}</span>
                            <input type="file" name="MothersIncomeDoc" id="MothersIncomeDoc">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>

                        <div class="center">
                        OR if agricultural income
                        </div>

                        <div class="file-field input-field">
                        <div class="btn">
                            <span>Upload Tehsildar's Certificate</span>
                            <input type="file" name="TehsildarCertificate" id="TehsildarCertificate">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>

                        <div class="file-field input-field">
                        <div class="btn">
                            <span>Upload Bank Passbook</span>
                            <input type="file" name="BankPassbook" id="BankPassbook">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>

                        <center>
                        <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                        </center>
                        <div>
                            <br />
                            For any queries kindly email to <a href="mailto:scholarships@goa.bits-pilani.ac.in">scholarships@goa.bits-pilani.ac.in</a>
                        </div>
                    </form>
                    {% endif %}
                {% else %}
                    Application Portal is not open. Come back later or contact SWD for specific queries.
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
