{% extends 'indexbase.html' %} {% block content %}

<div class="container">


	<div class="row">
		{% for k,v in months.items %}
		<p align="center" style="font-size:16px; color:#000066"> <b>Mess Statistics for {{k}}</b></p>
		<div class="card-content cardContact">
			<table class="centered bordered striped" width="540px">
				<tr>
					<th style="text-align: center">Mess</th>
					<th style="text-align: center">Enrolled</th>
				</tr>

				<tr align="center">
					<td id="contact1">A mess</td>
					<td id="contact1">{{v.0}}</td>
				</tr>
				<tr align="center">
					<td id="contact1">C mess</td>
					<td id="contact1">{{v.1}}</td>
				</tr>
				<tr align="center">
					<td id="contact1">D mess</td>
					<td id="contact1">{{v.2}}</td>
				</tr>
			</table><br />
		</div>
		{% endfor %}
	</div>

</div>


{% endblock %}