{% extends 'base.html' %} {% block content %}


<div>
    <div class="section center">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Mess Option</span>
                         {% if option == 0 %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="col-md-12">
                                <p>Final date for filling is: {{ dateClose }}</p>
                                 {% for field in form %}
                                    <div class="input-field col s12">
                                        {{ field }}
                                        {{ field.label_tag }}
                                    </div>
                                {% endfor %}
                                
                            </div>
                            <div class="col-xs-4">
                                <button class="btn btn-block bg-green waves-effect" type="submit">SUBMIT</button>
                            </div>
                        </form>
                        {% elif option == 1 %} You have filled this periods mess as <b> Dining Hall {{mess.mess}} for {{mess.monthYear|date:'M Y'}}</b><a href="/messoption?edit=1" style="float: right"><button class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span class="deep-green">Edit</span></button></a>
                        {% else %}
                        <p>Sorry, the period for filling the mess options are over. Your mess will be alloted randomly</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>
{% endblock %}