{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024">
    <title>SWD BITS Goa</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;Student Welfare Division</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class=""><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="{% static 'img/profile-swd.jpg' %}">&nbsp;{{ warden.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="{% static 'img/profile-swd.jpg' %}">&nbsp;{{ warden.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <style>
                .profileImg {
                    max-width: 35px;
                    height: auto
                }
            </style>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
    </div>

    <div>
        <div class="container">
            <div class="section">
                <div class="col s6 l6">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Export Student Mess Bills</span>
                            <form method="POST">
                                {% csrf_token %}
                                <!-- For Field Errors -->
                                {% if form.errors %}
                                <div class="row">
                                    {% for field in form %}
                                        <div class="input-field col s6">
                                                {% for error in field.errors %}
                                                    <div class="red-text alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="row">
                                    {% for field in form %}
                                        <div class="input-field col s6">
                                            {{ field }} {{ field.label_tag }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <fieldset id="export_type" class="form-group">
                                    <p>
                                        <input name="extype" type="radio" id="typeraw" value="R" checked/>
                                        <label for="typeraw">Raw Data (Includes rebate on leaves only)</label>
                                    </p>
                                    <p>
                                        <input name="extype" type="radio" id="typefinal" value="F" />
                                        <label for="typefinal">Final Data (if exists, data imported manually)</label>
                                    </p>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <fieldset id="mess_option" class="form-group">
                                    <p>
                                        <input name="mess" type="radio" id="test1" value="A" checked/>
                                        <label for="test1">Complete A Mess</label>
                                    </p>
                                    <p>
                                        <input name="mess" type="radio" id="test2" value="C" />
                                        <label for="test2">Complete C Mess</label>
                                    </p>
                                    <p>
                                        <input name="mess" type="radio" id="test4" value="D" />
                                        <label for="test4">Complete D Mess</label>
                                    </p>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col s6 left-align">
                                        <button class="btn btn-block bg-green waves-effect" type="submit">DOWNLOAD</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--  Scripts-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
    <script>
        // Patch fix for datepicker
        // Frontend devs -> please fix this issue asap. This is a temp patch.
        // Mehul Mohan (And now Aryan Pingle)
        document.querySelectorAll('input.mask').forEach(node => {
            const maskedDiv = document.createElement('div')
            maskedDiv.onclick = () => { setTimeout(() => { console.log('clicked'); node.click() }, 50) }
            maskedDiv.setAttribute('style', 'position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;')
            node.parentNode.classList.add('masked-parent-field')
            node.parentNode.appendChild(maskedDiv)
        })

        $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
    </script>

</body>

</html>