{% extends 'indexbase.html' %} {% block content %}
{% load static %}
<div class="card">
    <div class="card content" style="margin-left: 20px ; margin-right: 20px; padding-left: 20px; padding-right: 20px;">
        <div id="notes"> <br>
            <p align="center" class="top"> INSTRUCTIONS
                <br> <b class="details" style="color:#FF0000">Only Graduated &amp; Withdrawal Students can Apply</b></p>

            <li class="details"><b><u>Step 1:</u></b> Pay an amount of Rs. 350/- towards fees for Migration Certificate
                through the following link:<br> <a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm">SBI
                    Collect Link</a></li><br>

            <li class="details">Note : Incase you have already taken a Migration Certificate from the Institute and you
                are applying for a Duplicate Migration Certificate than pay the fees of Rs. 400/- through the following
                link:<br> <a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm">SBI Collect Link</a></li><br>


            <li class="details"><b><u>Step 2:</u></b> Fill the application form in the below link and email a scanned
                copy of the same to swd@goa.bits-pilani.ac.in</li>

            <p class="top" style="margin-left:45px; font-size:15px">

                <!--Migration Certificate Request<br/>
             <strong>---------------&nbsp; ----------------&nbsp; ----------------</strong><br/>
             Student Welfare Division<br/>
             BITS, Pilani – K. K. Birla Goa Campus<br/>
             Goa Campus, Zuarinagar - 403726-->
            </p>
            <br><br>
            <p align="center">
                <a href="/media/migration_certificate.pdf" target="_blank" style="text-align:center; font-size:17px">Form</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}