{% block content %}

  <div class="container-fluid">
    <div class="section">

  <div class="row">
    <div class="col s12 m12">
        			{% for notice in queryset %}
        			<p>
              <div class="card" style="padding:16px;">
              <div class="card-title" >{{ notice.title|safe }}</div>
                <div class="card-content" style="padding: 0;">
                <i style="font-size:12px">{{ notice.date }}</i>
                {{ notice.desc|safe|linebreaks}}
                </div>
              </div>
            	{% endfor %}  
            </p>

            {% if queryset.has_other_pages %}
            <ul class="pagination">

              {% if queryset.has_previous %}
              <li class="waves-effect"><a href="?page={{ queryset.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
              {% else %}
              <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
              {% endif %}

            {% for i in queryset.paginator.page_range %}
            {% if queryset.number == i %}
            <li class="active"><a href="#!">{{ i }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if queryset.has_next %}
            <li class="waves-effect"i><a href="?page={{ queryset.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
          </ul>
          {% endif %}
     
        </div>
    </div>

    </div>
    <br><br>
  </div>

{% endblock %}
