{% block content %}

  <div class="container-fluid">
    <div class="section">

  <div class="row">
    <div class="col s12 m12">
        			{% for notice in queryset %}
        			<p>
              <div class="card" style="padding:16px;">
              <div class="card-title" >{{ notice.title|safe }}</div>
                <div class="card-content" style="padding: 0;">
                <i style="font-size:12px">{{ notice.date }}</i>
                {{ notice.desc|safe|linebreaks}}
                </div>
              </div>
            	{% endfor %}  
            </p>
        </div>
    </div>

    </div>
    <br><br>
  </div>

{% endblock %}
