{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
{% endblock %}

{% block content %}

<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">My Profile</span>
                        <table class="striped">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ student.name }}</td>

                                </tr>
                                <tr>
                                    <td>BITS ID:</td>
                                    <td>{{ student.bitsId }}</td>

                                </tr>
                                <tr>
                                    <td>DOB</td>
                                    <td>{{ student.dob }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{ student.address }}</td>
                                </tr>
                                <tr>
                                    <td>CGPA</td>
                                    <td>{{ student.cgpa }}</td>
                                </tr>
                                <tr>
                                    <td>Change your profile picture</td>
                                    <td>
                                        <div id="uploadImageContainer">
                                                {% csrf_token %}
                                            <img class="profilePic" src="{{ student.photoURL }}">
                                            <input type="file" name="profilePic" class="hupload" accept="image/*" onchange="changePhoto(event.target)">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <br><br>
</div>

<script>
    // frontend people, refactor and move this code to appropirate place(s)

function changePhoto(target) {
    debugger
    const file = target.files[0]
    ajax(file)
}

function ajax(image) {
    const formData = new FormData()
    formData.append("image", image);
    formData.append("extension", image.name.split('.').pop())
    formData.append("csrfmiddlewaretoken", document.querySelector('input[name="csrfmiddlewaretoken"]').value)
    fetch('/updatephoto/', {
        method: 'POST',
        body: formData,
        credentials: 'same-origin'
    }).then(res => {
        console.log(res)
        alert('Your profile photo is updated')
        location.reload()
    })
}


</script>

{% endblock %}