{% extends option1 %}
{% block content %}
{% if student %}
<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">My Profile</span>
                        <table class="striped">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ student.name }}</td>
                                </tr>
                                <tr>
                                    <td>BITS ID:</td>
                                    <td>{{ student.bitsId }}</td>

                                </tr>
                                <tr>
                                    <td>DOB</td>
                                    <td>{{ student.bDay }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td> 
                                    <span class="left initialAdress">{{ student.address }}</span>
                                    <input type="text" placeholder="House no." class="left addressval"> </input>
                                    <input type="text" placeholder="Premise" class="left addressval"></input> 
                                    <input type="text" placeholder="Area" class="left addressval"></input> 
                                    <input type="text" placeholder="Town" class="left addressval"></input> 
                                    <input type="text" placeholder="State" class="left addressval"></input> 
                                    <input type="text" placeholder="PIN" class="left addressval"></input>
                                    <span class="new badge red comm left editAddr" data-badge-caption="">Edit</span>
                                    <br>
                                    <span class="showError">Enter all the fields</span> </td>
                                </tr>
                                {% if hostelps.status == "Student" %}
                                <tr>
                                    <td>Hostel</td>
                                    <td>{{ hostelps.hostel }}</td>
                                </tr><tr>
                                    <td>Room</td>
                                    <td>{{ hostelps.room }}</td>
                                </tr>
                                {% elif hostelps.status == "Graduate" %}
                                <tr>
                                    <td>Status</td>
                                    <td>Graduated</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td>{{hostelps.status }}</td>
                                    <td>{{ hostelps.psStation }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>CGPA</td>
                                    <td>{{ student.cgpa }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <br><br>
</div>

<style>
  .comm {
    width:100px;
  }
  .editAddr, {
    cursor: pointer;
    width:10px;
  }

  .saveAddr {
    cursor: pointer;
    width:130px;
  }
  .details th:nth-child(1), .details td:nth-child(1) {
    width: 35%;
  }
  .details th:nth-child(2), .details td:nth-child(2) {
    width: 65%;
  }
  .initialAdress{
    display: block;
  }
  .addressval{
    display: none
  }
  .showError{
    color: red;
    display: none;
    padding: 10px;
  }
</style>
{% csrf_token %}
<script>
  $(document).on('click', '.editAddr', (e) => {
    $('.editAddr').addClass('saveAddr').removeClass('editAddr').text('Request Change').removeClass('red').addClass('green')
    $(".initialAdress").hide();
    console.log('Show')
    $('.addressval').show()
    $('.addressval')[0].focus()
  })
  $(document).on('click', '.saveAddr', (e) => {
    var flag=1;
    for(var i=0;i<6;i++){
        if(!$('.addressval')[i].value){
            flag=0;
        }
    }
    console.log(flag)
    if(flag){
        $('.saveAddr').addClass('editAddr').removeClass('saveAddr').text('Edit').removeClass('green').addClass('red')
        $(".initialAdress").show();
        $('.addressval').removeAttr('contenteditable')
        $('.addressval').hide()
        $('.addressval').blur()
        $('.showError').hide();
        location.reload()
        var newAddr = "";
        for(var i=5;i>=0;i--){
            newAddr = $('.addressval')[i].value+', '+newAddr
        }
        $.post('/profile/', {
          address: newAddr.substr(0, newAddr.length-1),
          csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
        })
    }
    else{
        console.log('Show all the fields')
        $('.showError').show();
    }
    
  })
</script>
{% elif warden %}
<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">My Profile</span>
                        <table class="striped">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ warden.name }}</td>
                                </tr>
                                <tr>
                                    <td>Chamber</td>
                                    <td>{{ warden.chamber }}</td>
                                </tr>
                                <tr>
                                    <td>Residence</td>
                                    <td>{{ warden.residence }}</td>
                                </tr>
                                <tr>
                                    <td>Phone</td>
                                    <td>{{ warden.phone }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ warden.email }}</td>
                                </tr>
                                <tr>
                                    <td>Hostel</td>
                                    <td>{{ warden.hostel }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{% elif hostelsuperintendent %}
<div>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s6 l6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">My Profile</span>
                        <table class="striped">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ hostelsuperintendent.name }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{ hostelsuperintendent.email }}</td>
                                </tr>
                                <tr>
                                    <td>Hostel</td>
                                    <td>{{ hostelsuperintendent.hostel }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

{% endif %}

{% endblock %}