{% extends 'indexbase.html' %}
{% load staticfiles %}
{% block content %}
<div class="content-sac">
  <h2>Student Activity Center</h2>
  <div class="row">
    <div class="leftpart left col l8">
      <div class="upperpart">
        <div class="row">
          <div class="incharge col l5 s12 m12">
            <table>
              <td class='sac-heading i' align='left'>Incharge<hr color='orange' width='30px' align='left' style="height:3px;margin-top: 0;"></td>
              <td class='table-content'>
                <table class='name'>
                  <td><b>Mr. Chandu G.Lamani</b> (Physical Education Instructor and SAC incharge)</td>
                </table>
              </td>
            </table>
          </div>
          <div class="timings col l5 s12 m12">
            <table>
              <td class='sac-heading' align='left'>Timings<hr color='orange' width='30px' align='left' style="height:3px;margin-top: 0;"></td>
              <td class='table-content'>
                <table class='inner-table'>
                  <tr>
                    <td class='sub-headings'><b>Weekdays:</b> </td>
                    <td class='table-inner-content'>5:30AM to 8:00AM</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class='table-inner-content'>5:30PM to 9:30PM</td>
                  </tr>
                  <tr>
                    <td class='sub-headings'><b>Weekends:</b></td>
                    <td class='table-inner-content'>5:30PM to 9:30PM</td>
                  </tr>
                </table>
                <p class='off'>Off on Institute Holidays</p>
              </td>
            </table>
          </div>
        </div>

      </div>
      <div class="lowerpart">
        <section class='sac-heading' align='left'>Sports Facilities<hr color='orange' width='30px' align='left' style="height:3px;margin-top: 0;"></section>
        <div class="row">
          <div class="col l5 s12 outdoor">
            <h6>Outdoor</h6><hr>
            <p>Gymnasium-Modern - All weight trainings and cardio machines</p>
            <p>Badminton wooden courts - Four courts</p>
            <p>Squash court - One court</p>
            <p>Table Tennis hall - Five tables</p>
            <p>Carrom Room and Chess Room - Five Carrom boards and Ten Chess boards</p>
            <p>Taekwondo Martial Arts Room - One Room</p>
            <p>Prayer Room - One Room</p>
            <p>Dance Room - One Room</p>
          </div>
          <div class="col l5 s12 indoor">
            <h6>Indoor</h6><hr>
            <p>BasketBall Courts - Two Courts</p>
            <p>Cricket Ground - One Ground</p>
            <p>Cricket nets - Practice Facilities, Practice Four nets</p>
            <p>Football Ground - One Ground</p>
            <p>Futsal - One Court</p>
            <p>Volleyball Courts - Two Courts</p>
            <p>Tennis Courts - Two Courts</p>
          </div>
        </div>
      </div>
    </div>
    <div class="rightpart right col l4">
      <img class='img-sac' src="{% static 'img/office.jpg' %}" alt="">
      <img class='img-sac' src="{% static 'img/office.jpg' %}" alt="">
    </div>
  </div>



</div>

{% endblock %}
