{% extends 'indexbase.html' %} {% block content %}

      
<div class="card">  	
	<div class="card content">	
		<table class="centered bordered striped">
			
			<tr align="center">
				<th style="text-align: center">Incharge</th>
				<th </th>
			</tr>

			<tr align="center">
				<td> Mr. Chandu G. Lamani</td>
				<td>Physical Education Instructor In Charge SAC & Sports</td>
			</tr>
		</table>
	</div>
	<div class="card content">
	<p align="center" style="color:#663333; font-size:15px; font-family:Arial, Helvetica, sans-serif;" ><b> SAC </b>is open for faculty and students from:<br/>
	Monday to Saturday:  <b>5:30am to 8:00am & 5:30pm to 9:30pm </b><br/>
	Sunday : <b>5:30pm to 9:30pm </b>
	Institute Holidays : <b>OFF </b></p>
	</div>
	<div class="card content">
		<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066"> <b>INDOOR SPORTS FACILITIES</b></p>
			<table class="centered bordered striped">
			<tr>
				<th style="text-align: center">Sports</th>
				<th style="text-align: center"> Details </th>
			</tr>
		
			<tr align="center">
				<td>Gymnasium – Modern </td>
				<td>All weight Training and Cardio Machines</td>
			</tr>
			
			<tr align="center">
				<td>Badminton Wooden courts</td>
				<td >Four (4 ) Courts</td>
			</tr>
			
			<tr align="center">
				<td>Squash Court </td>
				<td>One (1) Court </td>
			</tr>
			
			<tr align="center">
				<td>Table Tennis Hall </td>
				<td>Five Tables</td>
			</tr>
			
			<tr align="center">
				<td>Carrom Room & Chess Room</td>
				<td>Five Carrom Boards & 10 Chess Boards </td>
			</tr>
			
			<tr align="center">
				<td>Taekwondo Martial Art Room </td>
				<td>One (1) Room </td>
			</tr>
			
			<tr align="center">
				<td>Prayer Room </td>
				<td>One (1) Room </td>
			</tr>
			
			<tr align="center">
				<td>Dance Room </td>
				<td>One (1) Room </td>
			</tr>
			
			<tr align="center">
				<td>Pool Table  </td>
				<td >One (1) Room </td>
			</tr>
		</table><br/>
	<div class="card content">
					<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066"> <b>OUTDOOR SPORTS FACILITIES</b></p>
	           		
						<table class="centered bordered striped">
			   			<tr>
			   				<th style="text-align: center">Sports</th>
							<th style="text-align: center">Details </th>
						</tr>
						
						<tr align="center">
							<td>Basketball Court  </td>
							<td>Two (2) Courts </td>
						</tr>
						
						<tr align="center">
							<td>Cricket Ground  </td>
							<td>One (1) Ground </td>
						</tr>
						
						<tr align="center">
							<td>Cricket Nets – Practice Facilities </td>
							<td>Four (4) Practice Pitches </td>
						</tr>
						
						<tr align="center">
							<td>Football Ground  </td>
							<td>One (1) Ground</td>
						</tr>
						
						<tr align="center">
							<td>Futsal  </td>
							<td>One (1) court </td>
						</tr>
						
						<tr align="center">
							<td id="contact1">Volleyball Courts </td>
							<td id="contact1">Two (2) Courts</td>
						</tr>
						
						<tr align="center">
							<td id="contact1">Tennis Courts </td>
							<td id="contact1">Two (2) Courts</td>
						</tr>
					</table><br/>
		
			</div>
	     </div>	
	</div>

{% endblock %}
