
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/assets/css/materialize.min.css"  media="screen,projection"/>
  <title>SWD BITS Goa</title>
    </head>

    <body>
      <div class="container">
        <div class="row">

          <div class="col s6 offset-s3 z-depth-4" id="panell">
            <h1></h1>
            <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a>
            <h1></h1>
            <h5 id="title">Sign in to access SWD</h5>
            <form id="sign_in" method="POST">

          <div class="input-field" id="username">
              <input  type="text" class="validate">
              <label for="username">Username</label>
          </div>
          <div class="input-field" id="password">
            <input  type="password" class="validate">
            <label for="password">Password</label>
          </div>
        <p>
            <input type="checkbox" id="remember"/>
            <label for="remember" id="checkbox" >Remember me</label>
        </p>
        <a class="waves-effect waves-light btn" id="loginbtn">Login</a>

        </form>
          <h1></h1>
          <a href="forgot-password.html">Forgot Password?</a>
          <h1></h1>
          </div>
        </div>

    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/assets/js/materialize.min.js"></script>
    </html>
