{% extends 'indexbase.html' %}
{% load staticfiles %}
{% block content %}
      <div class="container">
        <div class="row valign-wrapper" id="bodyWrap">
          <div class="col s1">

          </div>
          <div class="col s10">
              <!-- <div class="card darken-1">
                <div class="card-content"> -->
                  <span class="card-title fresh-orange"><h4>My Account</h4></span>
                  <br>

                {% comment %} <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a> {% endcomment %}
                

                <form id="sign_in" method="POST">
                   {% csrf_token %}
                  <div class="input-field" id="username" >
                      <input  type="text" class="validate" name="username" autocomplete='username' autocorrect="off" autocapitalize="none">
                      <label for="username">Username</label>
                  </div>

                  <div class="input-field" id="password">
                    <input  type="password" class="validate valid" name="password" autocomplete="current-password">
                    <label for="password">Password</label>
                  </div>

                  <button type="submit" class="waves-effect waves-light btn desert-yellow" id="loginbtn"><span class="deep-green">Login</span></button>

                </form>
                <br>
                {% if messages %} {% for message in messages %}
                <span class="badge fresh-orange" data-badge-caption="{{ message }}!"></span>
                {% endfor %} {% endif %}

            <!-- </div>
          </div> -->
        </div>
        <div class="col s1">
        
        </div>


      </div>
      <style>
        #bodyWrap {
          height:90vh;
        }
        /* body {
          background-image: url("{% static 'img/bits-goa-campus.jpg' %}"); opacity: .9;filter: alpha(opacity=.9);
          background-repeat: no-repeat;
          height: 100vh;
          background-size: cover;
        } */
      </style>

    </div>

    
{% endblock %}