{% extends 'base.html' %} {% block content %}


<div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 id="modalheader"></h4>
            <div id="modalinfo"></div>
        </div>
    </div>
    <div class="container">
         {% if messages %}
                {% for message in messages %}
                    <span class="new badge {{ message.tags }}" data-badge-caption="{{ message }}"></span>
                {% endfor %}
        {% endif %}
        {% if tees %}
        <div class="section">
            <h4 class="center-align">Tees</h4>
            <!--   Icon Section   -->
            <div class="row">
            {% for i in tees %}
                
                    <div class="col s3 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="/media/{{ i.pic }}" style="background-color:red;"/>
                                <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="openTeeModal({{ i.id }})"><i class="material-icons">shopping_cart</i></a>
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ i.title }}</span>
                                <p>{{ i.desc }}</p>
                                <br>
                                <p><b>Price: {{ i.price }}</b></p>
                            </div>
                        </div>
                    </div>

            {% endfor %}
            </div>

        </div>
        {% endif %}
        {% if items %}
            <div class="section">
            <h4 class="center-align">Items</h4>
            <!--   Icon Section   -->
            <div class="row">
            {% for i in items %}
                
                    <div class="col s3 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="/media/{{ i.pic }}" style="background-color:red;"/>
                                <a class="btn-floating halfway-fab waves-effect waves-light red" onclick="openItemModal({{ i.id }})"><i class="material-icons">shopping_cart</i></a>
                            </div>
                            <div class="card-content">
                                <span class="card-title">{{ i.title }}</span>
                                <p>{{ i.desc }}</p>
                                <br>
                                <p><b>Price: {{ i.price }}</b></p>
                            </div>
                        </div>
                    </div>

            {% endfor %}
            </div>

        </div>
        {% endif %}
    </div>
    <br>
    <br>
</div>

<style>
    #modalinfo img {
        max-width:100%;
        max-height:100%;
    }
</style>

<script>
    $(document).ready(function(){
        $('.modal').modal();
        $('select').material_select();
    });

    function openItemModal(info) {
        info = parseInt(info)
        var items = [{% for i in items %} ["{{ i.title|safe }}", "{{ i.desc|safe }}", "{{ i.pic|safe }}", "{{ i.price }}", "{{ i.available }}"], {% endfor %}]
        $("#modalheader").html(items[info-1][0])
        $("#modalinfo").html(`
        <div class="row">
            <div class="col s5 l5">
                <img src="/media/` + items[info - 1][2] + `">
            </div>
            <div class="col s7 l7">

                <p align="justify">` + items[info - 1][1] + `</p>
                <p align="right" id="price"><b> Rs.` + items[info - 1][3] + `</b></p>
                <p>
                    <input id="agree" type="checkbox" class="filled-in"/>
                    <label for="agree">I agree to buy this item and understand that the amount will be deducted from my account</label for="agree">
                </p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="right">
                        <input type="hidden" id="what" name="what" value="item"/>
                        <input type="hidden" id="info" name="info" value="` + info + `"/>
                        <input type="submit" id="itembuy" class="waves-effect waves-light disabled btn" value="Buy">
                    </div>
                </form>
            </div>
        `)
        
        $("#modal1").modal('open')
        $("#agree").change(function () {
            if ($(this).prop('checked')) {
                $("#itembuy").removeClass("disabled");
            } else {
                $("#itembuy").addClass("disabled");
            }
        });
    }

    function openTeeModal(info) {
        info = parseInt(info)
        var tees = [{% for i in tees %} ["{{ i.title|safe }}", "{{ i.desc|safe }}", "{{ i.pic|safe }}", "{{ i.price }}", "{{ i.nick|safe }}", "{{ i.colors|safe }}", "{{ i.sizes|safe }}", "{{ i.available }}"], {% endfor %}]
        $("#modalheader").html(tees[info-1][0])
        var nick = "";
        var colors = "";
        var sizes = "";
        if (tees[info-1][4] == "True") {
            nick = `
            <div class="input-field col s12">
                <input id="nick" type="text" class="validate">
                <label for="nick">Nick</label>
            </div>
            `
        }
        if (tees[info - 1][5] != "None") {
            colorlist = tees[info - 1][5].split(",");
            colors = `
            <div class="input-field col s6">
                <select id="colors">
            `
            for (var i = 0; i < colorlist.length; i++) {
                colors += `<option value="` + colorlist[i] + `">` + colorlist[i] + `</option>`
            }
            colors += `</select><label for="colors">Colors</label></div>`
        }
        if (tees[info - 1][6] != "") {
            sizelist = tees[info - 1][6].split(",");
            sizes = `
            <div class="input-field col s6">
                <select id="sizes">
            `
            for (var i = 0; i < sizelist.length; i++) {
                sizes += `<option value="` + sizelist[i] + `">` + sizelist[i] + `</option>`
            }
            sizes += `</select><label for="sizes">Sizes</label></div>`
        }
        $("#modalinfo").html(`
        <div class="row">
            <div class="col s5 l5">
                <img src="/media/` + tees[info - 1][2] + `">
            </div>
            <div class="col s7 l7">
                <form method="POST">
                    {% csrf_token %}
                <p align="justify">` + tees[info - 1][1] + `</p>
                <p align="right" id="price"><b> Rs.` + tees[info - 1][3] + `</b></p>
                ` + nick + colors + sizes + `    
                <div class="input-field col s4 offset-s8">
                    <input id="quantity" type="text" class="validate">
                    <label for="quantity">Quantity</label>
                </div>
                <p align="right"><b id="money"></b></p>
                <p>
                    <input id="teeagree" type="checkbox" class="filled-in"/>
                    <label for="teeagree">I agree to buy this item and understand that the amount will be deducted from my account</label for="agree">
                </p>
                    <div class="right">
                        <input type="hidden" id="what" name="what" value="tee"/>
                        <input type="hidden" id="info" name="info" value="` + info + `"/>
                        <input type="submit" id="teebuy" class="waves-effect waves-light disabled btn" value="Buy">
                    </div>
                </form>
            </div>
        `)

        
        $('#quantity').on('input',function(e){
            if (isNaN(parseInt($('#quantity').val()))) {
                $("#money").text('Please enter valid number.')
            }
            else {
                $("#money").text('Total Amount : Rs.' + parseInt($('#quantity').val()) * tees[info - 1][3])
            }
        });
        $("#teeagree").change(function () {
            if ($(this).prop('checked')) {
                $("#teebuy").removeClass("disabled");
            } else {
                $("#teebuy").addClass("disabled");
            }
        });
        $('select').material_select();
        $("#modal1").modal('open')
    }
     
</script>
{% endblock %}