{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=1024">
  <title>SWD BITS Goa</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/#" class="brand-logo">Student Welfare Division</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/notice">Notice</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/login">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/notice">Notice</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  


  <div class="container">
    <div class="section">
        <table class="centered bordered striped">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ student.name }}</td>
                </tr>
                <tr>
                    <td>Photo</td>
                    <td><img src="/media/{{ student.profile_picture }}" height=200 width=140></img></td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td>{{ student.bitsId }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{ student.gender }}</td>
                </tr>
                <tr>
                    <td>Hostel</td>
                    <td>{{ residence.hostel }}</td>
                </tr>
                <tr>
                    <td>Room No.</td>
                    <td>{{ residence.room }}</td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td>{{ student.bDay }}</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>{{ student.email }}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ student.phone }}</td>
                </tr>                
                <tr>
                    <td>Address</td>
                    <td>{{ student.address }}</td>
                </tr>
                <tr>
                    <td>Blood Group</td>
                    <td>{{ student.bloodgroup }}</td>
                </tr>
                <tr>
                    <td>CGPA</td>
                    <td>{{ student.cgpa }}</td>
                </tr>

                <tr>
                    <td>Parent's name</td>
                    <td>{{ student.parentName }}</td>
                </tr>
                <tr>
                    <td>Parent's phone</td>
                    <td>{{ student.parentPhone }}</td>
                </tr>
                <tr>
                    <td>Parent's email</td>
                    <td>{{ student.parentEmail }}</td>
                </tr>
                {% for d in disco %}
                <tr>
                    <td>DISCO({{ d.dateOfViolation }})</td>
                    <td>{{ d.subject }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   
    </div>
  </div>

  <style>

  </style>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</body>

</html>
