
{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>
        -->
        <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax.js' %}"></script>
  <title>SWD BITS Goa</title>
    </head>

    <body>
      
{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>
        -->
        <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <title>SWD BITS Goa</title>
    </head>

    <body>
      <div class="container">
        <div class="row valign-wrapper" id="bodyWrap">

          <div class="col s12 m6 offset-m3">
            <h2 class="white-text" align="center">Student Welfare Division</h2>
            <div class="card darken-1">
              <div class="card-content">
                <span class="card-title">Search Students</span>
            
                {% comment %} <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a> {% endcomment %}
                
                {% if students.count > 0 %}

                <!-- <h1>Search Students</h1> -->
                {% csrf_token %}
                <input type="text" name="search" id="search" />


                <table style="width:100%">
                  <tr>
                    <th>BITS ID</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                  {% for student in students %}
                  <tr>
                    <td>{{ student.bitsId }}</td>
                    <td>{{ student.name }}</td>
                    <td></td>
                  </tr>
                  {% endfor %}
                </table> 

                {% else %}

                <h3>Nothing to show!</h3>


                {% endif %}
              
            </div>
          </div>
        </div>


      </div>
      <style>
        #bodyWrap {
          height:90vh;
        }
        body {
          background: #00BCD4;
        }
      </style>

    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="{% static 'assets/js/materialize.js' %}"></script>
    </html>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="{% static 'assets/js/materialize.js' %}"></script>
    </html>
