
{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>
        -->
        <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax.js' %}"></script>
  <title>SWD BITS Goa</title>
    </head>

    <body>
      
{% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css

        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/materialize.css' %}"  media="screen,projection"/>
        -->
        <link href="{% static 'assets/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="{% static 'assets/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/ajax.js' %}"></script>
  <title>SWD BITS Goa</title>
    </head>

    <body>
      <div class="container">
        <div class="row valign-wrapper" id="bodyWrap">

          <div class="col s12 m6 offset-m3">
            <h2 class="white-text" align="center">Student Welfare Division</h2>
            <div class="card darken-1">
              <div class="card-content">
                <span class="card-title">Search Students</span>
            
                {% comment %} <a href="javascript:void(0);">Student Welfare Division, BITS Pilani, Goa</a> {% endcomment %}
                
                <input type="text" name="search" id="search" />
                {% csrf_token %}
                <div id="search-results">
                    <!-- AJAX fills in here -->
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if students.has_previous %}
                            <a href="#" data-page="1" class="page">&laquo; first</a>
                            <a href="#" data-page="{{ students.previous_page_number }}" class="page">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ students.number }} of {{ students.paginator.num_pages }}.
                        </span>

                        {% if students.has_next %}
                            <a href="#" data-page="{{ students.next_page_number }}" class="page">next</a>
                            <a href="#" data-page="{{ students.paginator.num_pages }}" class="page">last &raquo;</a>
                        {% endif %}
                    </span>

                </div>
            </div>
          </div>
        </div>


      </div>
      <style>
        #bodyWrap {
          height:90vh;
        }
        body {
          background: #00BCD4;
        }
      </style>

    </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="{% static 'assets/js/materialize.js' %}"></script>
    </html>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="{% static 'assets/js/materialize.js' %}"></script>
    </html>
