{% extends 'indexbase.html' %} {% block content %}
<style>
	td {width: 50%;}
</style>
<div class="card content">
	<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066"><b>
			HOSTEL FACILITIES</b></p>
	<table class="centered bordered striped">

		<tr align="center">
			<td>No of Hostels</td>
			<td>{{ hostels }}</td>
		</tr>

		<tr align="center">
			<td>Room Types</td>
			<td>Single & Double occupency</td>
		</tr>

		<tr align="center">
			<td>Facilities </td>
			<td>Cot, Study Table, Chair,<br> Wadrobe, Network Connection<br>Continuous water & Electricity supply</td>
		</tr>

		<tr align="center">
			<td>Bathrooms </td>
			<td>Shared<br>(On an average 1 Bathroom/<br>Toilet shared by 4 students)</td>
		</tr>

		<tr align="center">
			<td>Security</td>
			<td>24-hour Security guard</td>
		</tr>

		<tr align="center">
			<td>Recreational</td>
			<td> Badminton Court<br>Common Room (1)<br>(Equipped with: TV, indoor sports like<br> table tennis and
				carrom)</td>
		</tr>

	</table><br />
	<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066"> <b>
			MESS FACILITIES</b></p>

	<table class="centered bordered striped">


		<tr align="center">
			<td>Dining Halls </td>
			<td>3<br>(A, C & D) </td>
		</tr>

		<tr align="center">
			<td>Capacity </td>
			<td>1200 </td>
		</tr>

		<tr align="center">
			<td>Catering </td>
			<td>Outsourced </td>
		</tr>

	</table><br />
</div>
<p align="center" style="font-size:16px; font-family:Arial, Helvetica, sans-serif; color:#000066"> <b>
		OTHER FACILITIES</b></p>
<div class="card content">
	<table class="centered bordered striped">
		<tr>
			<td><b>Financial Aid:</b></td>
			<td>Institute Merit and Merit Cum Need Scholarship</td>
		</tr>
		<tr>
			<td></td>
			<td>Student Aid Fund Financial Assistance</td>
		</tr>
		<tr>
			<td>Online Services:</td>
			<td>Mess selection facility every month</td>
		</tr>
		<tr>
			<td></td>
			<td>Apply for issue of certificate</td>
		</tr>
		<tr>
			<td></td>
			<td>Leave application submission</td>
		</tr>

	</table>
</div>
<br><br>


{% endblock %}