{% extends 'indexbase.html' %} {% block content %}

<div class="container">
    <div class="section">

  <div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card">
        	<p>
              <div class="card" >
	          	<h3><div class="card-title" align="center">Hostel Facilities</div></h3>
				<div style="font-size:16px; text-align:justify;">
					<p>
						<ul class="card-content">
							<li> No of Hostels:20</li>
							<li> Single Occupancy Rooms furnished with Cot,Study Table,Chair,Wadrobe and Network Connection.</li>
							<li> Continuous water and Electricity supply, Shared Bathrooms/Toilets (On an average 1 Bathroom/Toilet shared by 4 students)</li>
							<li>24-hour Security guard at Hostel Gate</li><li> Common Room with TV, indoor sports like table tennis and carrom: Badminton Court.</li>
						</ul>
					</p>
				</div>
	
				<h3><div class="card-title" align="center">Mess facilities</div></h3>
				<div style="font-size:16px;">
					<p>
						<ul class="card-content">
							<li>There are 3 Dinning Halls (A, C and D) each of capacity 1200. </li>
							<li> All 3 Dinning Halls are run through outsourced contractors. 
							</li>
						</ul>
					</p>
				</div>
				
				<h3><div class="card-title" align="center">Financial Aid</div></h3>
				<div style="font-size:16px;">
				 <p><br/>
					<ul class="card-content"> 
						<li> Institute Merit and Merit Cum Need Scholarship </li>
						<li> Student Aid Fund Financial Assistance. </li> 
				   </ul>
				 </p>
			    </div>
				
				<h3><div class="card-title" align="center">Online Services</div></h3>
				<div style="font-size:16px;">
					<p>
						<ul class="card-content">
							<li> Mess selection facility every month. </li>
							<li>Apply for issue of certificate. </li>
							<li> Leave application submission </li>
							
						</ul>
							<br/>
						<p align="center" style="color:#990000">
						(LOGIN to avail of these services)
  						</p>
					</p>
				</div>
			</div>
		</div>
    </div>

    </div>
    <br><br>
  </div>

{% endblock %}