{% extends 'wardenbase.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
    </div>

    <div>
        <div class="section">

            <!--   Icon Section   -->
            <form method="GET">
            <div class="row">
                        <div class="input-field col s3 offset-s2">
                            <input name="name" id="name" type="text">
                            <label for="name">Name</label>  
                        </div>
                        <div class="input-field col s3 ">
                            <input name="date" id="date" type="date">
                            <label for="date">Date</label>
                        </div>
                        <div>
                        <input type="submit" value="Search" class="waves-effect waves-light btn" />
                        </div>
                    </div>
                </form>

                        
            <div class="row">
                {% if option == 1 %}
                <div class="col s6 l12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Leave Applications</span>
                            <table class="bordered highlight">
                                <thead>
                                    <tr>
                                        <th>Leave No.</th>
                                        <th>Name (ID)</th>
                                        <th>Duration</th>
                                        <th>Approval Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for leave in leaves %}
                                    <tr class="clickable" onclick="leaveclick(this)" data-id="{{ leave.id }}">
                                        <td>{{ leave.id }}</td>
                                        <td>{{ leave.student.name }} | {{ leave.student.bitsId }}</td>
                                        <td>{{ leave.dateTimeStart|date:"d/M/y" }} to {{ leave.dateTimeEnd|date:"d/M/y" }}</td>
                                        <td>{% if leave.approved == 1 %}Approved{% elif leave.disapproved == 1 %}Disapproved{% else %}In Process{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% else %}
                <div class="container">
                    <div class="row">
                    <div class="col s6 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Leave Dash</span>
                                <div class="row">
                                    <div class="col s8">
                                        <div class="row">
                                            <div class="col s6">
                                                Name:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.student.name }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                ID:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.student.bitsId }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                Start Date and Time:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.dateTimeStart }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                End Date and Time:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.dateTimeEnd }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                Reason:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.reason }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                Consent:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.consent }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                Correspondence Address:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.corrAddress }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s6">
                                                 Correspondence Phone:
                                            </div>
                                            <div class="col s6">
                                                {{ leave.corrPhone }}
                                            </div>
                                        </div>
                                    </div>
                                    {% if student.profile_picture %}
                                    <div class="col s3">
                                        <div class="card">
                                            <div class="card-content">
                                                <div>
                                                    <img style="width:100%" src="/media/{{ student.profile_picture }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div style="background-color:#eee; padding:15px;">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <textarea id="comment" name="comment" class="materialize-textarea">{{ leave.comment }}</textarea>
                                            <label for="comment">Comments</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="leave-approve" value="1" {% if leave.approved == True %} checked="checked" {% endif %}/>
                                            <label for="leave-approve">Approve</label>
                                        </div>
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="leave-disapprove" value="2" {% if leave.disapproved == True %} checked="checked" {% endif %}/>
                                            <label for="leave-disapprove">Disapprove</label>
                                        </div>
                                        <div class="col s4">
                                            <input name="group1" type="radio" class="with-gap" id="leave-process" value="3" {% if leave.inprocess == True %} checked="checked" {% endif %}/>
                                            <label for="leave-process">In Process</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <a href="/warden" class="btn btn-block bg-green waves-effect" >CANCEL</a>
                                        </div>
                                        <div class="col s6 right-align">
                                            <button class="btn btn-block bg-green waves-effect" type="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l12">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Student's Leave History</span>
                                    <table class="bordered highlight">
                                <thead>
                                    <tr>
                                        <th>Leave No.</th>
                                        <th>Name (ID)</th>
                                        <th>Duration</th>
                                        <th>Approval Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for leave in leaves %}
                                    <tr class="clickable" onclick="leaveclick(this)" data-id="{{ leave.id }}">
                                        <td>{{ leave.id }}</td>
                                        <td>{{ leave.student.name }} | {{ leave.student.bitsId }}</td>
                                        <td>{{ leave.dateTimeStart|date:"d/M/y" }} to {{ leave.dateTimeEnd|date:"d/M/y" }}</td>
                                        <td>{% if leave.approved == 1 %}Approved{% elif leave.disapproved == 1 %}Disapproved{% else %}In Process{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
        <br><br>
    </div>

{% endblock %}

