{% load staticfiles %}
{% load main_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024">
    <title>SWD BITS Goa</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="nav-extended">
        {% include 'includes/header.html' %}
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                <a href="{% url 'warden' %}" class="{% active_page request 'warden' %}" target="_self">
                    Leave Applications
                </a>
                </li>
                <li class="tab">
                <a href="{% url 'latecomer' %}" class="{% active_page request 'latecomer' %}" target="_self">
                    Late Comers
                </a>
                </li>
                <li class="tab">
                <a href="{% url 'documents' %}" class="{% active_page request 'documents' %}" target="_self">
                    Documents
                </a>
                </li>
            </ul>
        </div>
    </nav>
{% block content %}
{% endblock %} 
{% include 'includes/messages.html' %}
<!--  Scripts-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
    <script>
       function leaveclick(d) {
           window.location.href = '/warden/' + $(d).data('id') +'/';
       }
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</body>

</html>
