{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=1024">
    <title>SWD BITS Goa</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">&nbsp;Student Welfare Division</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class=""><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="{% static 'img/profile-swd.jpg' %}">&nbsp;{{ warden.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/profile" class="valign-wrapper"><img class="circle profileImg" src="{% static 'img/profile-swd.jpg' %}">&nbsp;{{ warden.name|title }}</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            <style>
                .profileImg {
                    max-width: 35px;
                    height: auto
                }
            </style>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                {% load main_extras %}
                <li class="tab"><a href="/warden" class="{% active_page request 'warden' %}" target="_self">Leave Applications</a></li>
                <li class="tab"><a href="/latecomer" class="{% active_page request 'latecomer' %}" target="_self">Late Comers</a></li>
                <li class="tab"><a href="/documents" class="{% active_page request 'documents' %}" target="_self">Documents</a></li>
                <li class="tab"><a href="/search" class="{% active_page request 'search' %}" target="_self">Search</a></li>
            </ul>
        </div>
    </nav>
{% block content %}
{% endblock %} 
<!--  Scripts-->

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <style>
        .clickable {
            cursor: pointer;
        }
    </style>
    <script>
       function leaveclick(d) {
           window.location.href = '/warden/' + $(d).data('id') +'/';
       }
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>

</body>

</html>
