

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  padding: 3%;
  /* Fullscreen is occupied at this width */
  width: 94vw; 
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-blend-mode: color-dodge;
  overflow-x: hidden;
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

