cairocffi==0.8.0
CairoSVG==2.1.2
cffi==1.11.2
cssselect2==0.2.1
defusedxml==0.5.0
Django==1.11.6
django-braces==1.12.0
django-cors-headers==2.1.0
django-easy-pdf==0.1.1
django-jet==1.0.6
django-webpack-loader==0.5.0
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
graphene==2.0
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
html5lib==1.0b10
httplib2==0.10.3
iso8601==0.1.12
olefile==0.44
pdfrw==0.4
Pillow==4.3.0
promise==2.1
pycparser==2.18
PyJWT==1.5.3
PyPDF2==1.26.0
Pyphen==0.9.4
pytz==2017.2
reportlab==3.4.0
Rx==1.6.0
singledispatch==3.4.0.3
six==1.11.0
tinycss2==0.6.1
typing==3.6.2
WeasyPrint==0.41
webencodings==0.5.1
xhtml2pdf==0.2b1
