
.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whiteText {
  color: white;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container a {
  text-decoration: none;
}

.footerCopyright {
  margin: 1vw;
  margin-top: 2vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.footerCopyright span {
  font-weight: 100;
  color: #e0e0e0;
}

.footer {
  padding: 2%;
  background-color: #263238;

  /* blueGrey900 */
}
