.searchbox-appear {
    opacity: 0.01;
}

.searchbox-appear.searchbox-appear-active {
    opacity: 1;
    transition: opacity 0.7s ease-in;
}

h3{
	font-family: 'Open Sans';
}
.paperElement{
    display: flex;
}
.infoPaper{
    display: flex;
    flex-direction: column;
}
.infoPaper p{
    margin-left: 5vw;
}
.column1{

    width: 34%;
}
.column2{
    margin-left: 5vw;
}
.paperDiv{
    margin-bottom: 2vh;
}
p{
    margin: 5px;
}